@import url(../../styles.scss);

.card-container {
  margin: 1em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  perspective: 450px;

  &.flipped > .card {
    transform: rotateY(-180deg) translateX(-100%);
  }

  &:hover > .card {
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.8);
  }
}

.card {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.4);

  transform-origin: left;
  transition-duration: 0.4s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(-180deg) translateX(-100%);
    pointer-events: none;
  }

  &__front,
  &__back {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    background-position: center !important;
    background-size: cover !important;
    transition-duration: 1s;
  }

  &__back {
    transform: rotateY(180deg);
  }

  &__front-title,
  &__back-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 13%;
    padding-right: 13%;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 25%;
    font-size: 20px;
    color: white;
    border-top: 3px solid white;
    background-color: var(--bg-sidebar);
    transition: 1s;
  }

  &__back-title {
    justify-content: center;
    color: white;
    border-top: 3px solid white;
    background-color: #1d979e;
    transition: 1s;
  }

  &__turn-btn {
    height: 1.3em;
    width: 1.3em;
    background: transparent url(../../assets/icons/back.svg) no-repeat center;
    background-size: cover;
  }

  &__true {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(58, 255, 58, 0.25) url(../../assets/icons/true-card-icon.svg) no-repeat center;
    background-position: 92% 8%;
    bottom: 0;
    border-radius: 40px;
    transition-duration: 0.2s;
  }
}

.hide-title {
  height: 0;
  padding: 0;
  font-size: 0;
  border: none;
}

.not-available {
  pointer-events: none;
}

.appearance-on {
  opacity: 100;
}
