.main-button {
  z-index: 1;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  letter-spacing: 1.2px;
  background-color: rgb(193, 238, 188);
  border: none;
  border-bottom: 5px solid rgb(102, 209, 91);
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px 2px rgba(0, 0, 0, 0.4);
  transition-duration: .2s;
  &:hover {
    background-color: white;
  }
  &:active {
    border: 0 solid rgb(102, 209, 91);
    height: 25px;
  }
  &:disabled {
    pointer-events: none;
    color: rgb(70, 70, 70);
    background-color: rgb(160, 160, 160);
    border-bottom: 5px solid rgb(90, 90, 90);
  }
}

.create-btn {
  width: 24%;
}

.update-btn {
  width: 24%;
}

.race-btn {
  width: 29%;
}

.reset-btn {
  width: 29%;
}

.generate-btn {
  width: 40%;
}

.create-btn,
.update-btn,
.generate-btn {
  background-color: rgb(193, 222, 223);
  border-color: rgb(117, 178, 180);
}
