@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-900.woff") format("woff");
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  transition-duration: 0.2s;
}

*, *::before, *::after {
  box-sizing: inherit;
  transition-duration: inherit;
}

body {
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Roboto", sans-serif;
  cursor: default;
  background-color: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.h3 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.weight-500 {
  font-weight: 500;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1620px;
}

.logo {
  position: relative;
  top: -0.2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}
.logo__zoo {
  font-weight: 900;
  font-size: 36px;
  line-height: 32px;
  color: #333333;
}
.logo__online {
  font-weight: 900;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: #333333;
}

.nav-list {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 572px;
  list-style: none;
}
.nav-list__link {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-decoration: none;
}
.nav-list__link:active {
  color: #999999;
}
.nav-list__link:hover {
  transform: scale(1.2);
}
.nav-list .current-page {
  cursor: unset;
  font-weight: 900;
  text-decoration: underline;
}
.nav-list .current-page:active {
  color: inherit;
}
.nav-list .current-page:hover {
  transform: none;
}
.nav-list .first-link:hover {
  transform: none;
}
@media screen and (max-width: 1200px) {
  .nav-list {
    display: none;
  }
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 94px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}
.header__nav-btn {
  display: none;
}
@media screen and (max-width: 1200px) {
  .header__nav-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;
    background: none;
  }
  .header__nav-btn:hover line {
    stroke: #4bd8B5;
  }
}
.header .theme-switcher {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 54px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 190px;
}
.header .theme-switcher input {
  display: none;
}
.header .theme-switcher:hover {
  background-color: #d9d9d9;
}
@media screen and (max-width: 1200px) {
  .header .theme-switcher {
    position: absolute;
    right: 80px;
  }
}
.header .theme-switcher_active {
  background-color: #4f4f4f;
}
.header .theme-switcher__slider {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}
.header .theme-switcher__slider_active {
  transform: translateX(22px);
  background-color: #1B1B1B;
  box-shadow: none;
}

.main {
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.choose-favorite {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
}

.description {
  margin-top: 20px;
  width: 790px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.slider {
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 157px;
  width: 100%;
  flex-grow: 1;
}
.slider .carousel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 1100px;
}
.slider .carousel__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 12.5%;
}
.slider .carousel__slide:hover {
  transform: scale(1.1);
}
.slider .slide-image {
  overflow: hidden;
  width: 108px;
  height: 108px;
  border-radius: 50%;
}
.slider .slide-image img {
  width: 100%;
  height: 100%;
}
.slider .gradient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #07eee0, #df496d);
}
.slider .slide-active:hover {
  transform: none;
}
.slider .slide-active .gradient {
  width: 157px;
  height: 157px;
}
.slider .slide-active .slide-image {
  transform: scale(1.4);
  border: 5px solid white;
}
.slider__btn {
  height: 20px;
  width: 20px;
  border-top: 5px solid #828282;
  border-left: 5px solid #828282;
  border-radius: 2px;
}
.slider .btn_left {
  transform: rotate(315deg);
}
.slider .btn_left:hover {
  transform: scale(1.4) rotate(315deg);
}
.slider .btn_left:active {
  border-color: #4bd8B5;
}
.slider .btn_right {
  transform: rotate(135deg);
}
.slider .btn_right:hover {
  transform: scale(1.4) rotate(135deg);
}
.slider .btn_right:active {
  border-color: #4bd8B5;
}

.social-net {
  position: absolute;
  left: 0;
  top: 750px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 107px;
  width: 20;
}
.social-net__link svg:hover {
  transform: scale(1.2);
}
.social-net__link:active path {
  fill: #b2b2b2;
}

.watch-btn {
  padding: 0;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 55px;
  width: 245px;
  border: none;
  outline: none;
  border-radius: 3px;
  background-color: #4bd8B5;
  text-decoration: none;
}
.watch-btn:hover {
  transform: scale(1.1);
}
.watch-btn:active {
  background-color: #26b08e;
  outline: none;
}
.watch-btn__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.watch-btn__content svg {
  margin-right: 5px;
}
.watch-btn__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.scroll {
  margin-top: 30px;
}
.scroll__n-slide {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.scroll__n {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: #333333;
}
.scroll__total-slides {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #BDBDBD;
}

input[type=range] {
  height: 0;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 245px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(189, 189, 189, 0.57);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  background: rgba(189, 189, 189, 0.57);
}

input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 30px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
  transition-duration: 0.1s;
}
input[type=range]::-webkit-slider-thumb:hover {
  background-color: #4bd8B5;
}
input[type=range]::-webkit-slider-thumb:active {
  background-color: #26b08e;
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 30px;
  background: #333333;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
  transition-duration: 0.1s;
  border: none;
  border-radius: unset;
}
input[type=range]::-moz-range-thumb:hover {
  background-color: #4bd8B5;
}
input[type=range]::-moz-range-thumb:active {
  background-color: #26b08e;
}

.map {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.map .watch-btn {
  margin-top: 46px;
}
.map__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 1200px;
}
.map__wrapper .panda-marker {
  position: absolute;
  top: 98px;
  left: 905px;
}
.map__wrapper .eagle-marker {
  position: absolute;
  top: 81px;
  left: 130px;
}
.map__wrapper .gorilla-marker {
  position: absolute;
  top: 192px;
  left: 572px;
}
.map__wrapper .alligator-marker {
  position: absolute;
  top: 105px;
  left: 246px;
}
.map__wrapper .marker {
  width: 66px;
  height: 92px;
}
.map__wrapper .marker:hover {
  cursor: pointer;
}
.map__wrapper .marker:hover svg path {
  fill: #56D84B;
}
.map__wrapper .marker svg path:hover {
  cursor: pointer;
}
.map__wrapper .marker svg path:hover {
  fill: #56D84B;
}
.map__wrapper .marker img {
  height: 100%;
  width: 100%;
}
.map__wrapper .marker-active svg path {
  fill: #EB5757;
}
.map__wrapper .marker-active:hover {
  cursor: default;
}
.map__wrapper .marker-active:hover svg path {
  cursor: default;
  fill: #e62929;
}
.map__wrapper .marker-icon {
  z-index: 100;
  overflow: hidden;
  position: absolute;
  top: 14%;
  left: 20.5%;
  height: 44%;
  width: 61.333%;
  border-radius: 50%;
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  background-color: #333333;
}
.footer__wrapper {
  margin-top: 100px;
  position: relative;
  width: 1620px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.footer .logo > * {
  color: #fefefe;
}
.footer__nav {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.footer .nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 49%;
}
.footer .nav-list__link {
  margin-right: 73px;
  color: #f2f2f2;
}
.footer .watch-btn {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 279px;
}
.footer .watch-btn__name {
  font-weight: 500;
}
.footer .contacts-us-and-centre {
  margin-top: 60px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}
.footer .centre {
  width: 49%;
}
.footer .centre__title {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
}
.footer .centre__address {
  margin-bottom: 20px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
}
.footer .centre__address a {
  text-decoration: inherit;
  color: inherit;
}
.footer .centre .social-net {
  position: unset;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 20px;
  width: 125px;
}
.footer .contact-us__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}
.footer .contact-us__form {
  margin-top: 33px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 385px;
}
.footer .contact-us__input {
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 26px;
  color: #E0E0E0;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  background-color: transparent;
}
.footer .contact-us__message {
  width: 100%;
  height: 125px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}
.footer .contact-us__legend {
  margin-left: 5px;
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}
.footer .contact-us__textarea {
  resize: none;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  border: none;
  background-color: transparent;
}
.footer .contact-us .check {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  justify-content: flex-starn;
  align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}
.footer .contact-us .check__input {
  -webkit-appearance: none;
}
.footer .contact-us .check__box {
  margin-right: 6px;
  width: 13px;
  height: 13px;
  color: #bdbdbd;
  background-color: transparent;
  border: 1px solid #bdbdbd;
}
.footer .contact-us .check__box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
.footer .contact-us .check__input:checked + .check__box {
  background: url(../../assets/icons/check.svg) no-repeat center;
  background-size: cover;
}
.footer .contact-us__send {
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}
.footer .contact-us__send:hover {
  background-color: #4f4f4f;
}
.footer .contact-us__send:active {
  background-color: #828282;
}
.footer .contact-us .send-arrow {
  margin: 0 10px 0 24px;
  width: 48px;
}
.footer__copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 72px;
}
.footer__copyright .copyright-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

/*# sourceMappingURL=style.css.map */
