@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-900.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}

.light-mode {
  --text-white: #fefefe;
  --bg-main: #fbfbfb;
  --bg-header: #fff;
  --bg-white: #f2f2f2;
  --text-black: #333;
  --text-gray: #4f4f4f;
  --bg-menu: #fff;
  --bg-menu-link-hover: rgb(243, 205, 235);
}

.dark-mode {
  --text-white: #3c3c3c;
  --bg-main: #4f4f4f;
  --bg-header: #333;
  --bg-white: #4f4f4f;
  --text-black: #fefefe;
  --text-gray: #f2f2f2;
  --bg-menu: #414141;
  --bg-menu-link-hover: #2b2b2b;
}

.dark-mode .map-img {
  -webkit-filter: invert(100);
          filter: invert(100);
}

body {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.h3 {
  margin-top: 35px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-black);
}

@media screen and (min-width: 640px) {
  .h3 {
    margin-top: 60px;
    font-size: 48px;
    line-height: 56px;
  }
}

.weight-500 {
  font-weight: 500;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93.75%;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 1620px;
    margin: 0 auto;
  }
}

.logo {
  position: relative;
  top: -.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__zoo {
  font-weight: 900;
  font-size: 36px;
  line-height: 32px;
  color: var(--text-black);
}

.logo__online {
  font-weight: 900;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: var(--text-black);
}

.nav-list {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: absolute;
  right: 0;
  top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  list-style: none;
  background-color: var(--bg-menu);
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}

.nav-list li {
  width: 100%;
}

.nav-list li:hover {
  background-color: var(--bg-menu-link-hover);
}

.nav-list li:nth-child(3):hover {
  background-color: unset;
}

.nav-list__link {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--text-black);
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.nav-list__link:active {
  color: #b5b5b5;
}

.nav-list__link:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.nav-list .current-page {
  cursor: unset;
  font-weight: 900;
  text-decoration: underline;
}

.nav-list .current-page:active {
  color: inherit;
}

.nav-list .current-page:hover {
  -webkit-transform: none;
          transform: none;
  background-color: none;
}

@media screen and (min-width: 640px) {
  .nav-list {
    width: 30%;
    top: 95px;
  }
  .nav-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list__link:hover {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    visibility: unset;
    opacity: unset;
    -webkit-transform: unset;
            transform: unset;
    position: unset;
    top: unset;
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: unset;
    width: 572px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .nav-list__link {
    padding: 0;
    height: unset;
  }
  .nav-list__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .nav-list li {
    width: unset;
  }
  .nav-list li:hover {
    background-color: unset;
  }
}

.nav-list_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 100%;
  visibility: visible;
}

.header {
  z-index: 200;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  width: 100%;
  background-color: var(--bg-header);
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}

.header__nav-btn {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background: none;
}

.header__nav-btn line {
  stroke: var(--text-black);
}

.header__nav-btn:hover line {
  stroke: #4bd8B5;
}

.header .nav-btn_active {
  margin-top: 7px;
}

.header .nav-btn_active line:nth-child(1) {
  -webkit-transform: translateX(8px) rotate(45deg);
          transform: translateX(8px) rotate(45deg);
}

.header .nav-btn_active line:nth-child(2) {
  -webkit-transform: translateY(22px) rotate(-45deg);
          transform: translateY(22px) rotate(-45deg);
}

.header .nav-btn_active line:nth-child(3) {
  display: none;
}

.header .theme-switcher {
  position: absolute;
  right: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 30px;
  background: var(--bg-white);
  border-radius: 190px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.header .theme-switcher input {
  -webkit-appearance: none;
  position: fixed;
}

.header .theme-switcher:hover {
  background-color: #d9d9d9;
}

@media screen and (min-width: 640px) {
  .header .theme-switcher {
    right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header .theme-switcher {
    position: unset;
  }
}

.header .theme-switcher_active {
  background-color: #4f4f4f;
}

.header .theme-switcher__slider {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.header .slider_checked {
  background-color: #1b1b1b;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.header .switcher_checked:hover {
  background-color: dimgray;
}

@media screen and (min-width: 1200px) {
  .header {
    position: static;
  }
  .header__nav-btn {
    display: none;
  }
}

.main {
  margin-top: 94px;
  padding-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: var(--bg-main);
}

@media screen and (min-width: 640px) {
  .main {
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .main {
    margin-top: 0;
    padding-bottom: 100px;
  }
}

.choose-favorite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87.5%;
}

.description {
  margin-top: 11px;
  width: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-gray);
}

@media screen and (min-width: 640px) {
  .description {
    margin-top: 21px;
    font-size: 14px;
    line-height: 16px;
    width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .description {
    width: 790px;
  }
}

.slider {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85px;
  width: 260px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.slider__wrapper {
  overflow: hidden;
  width: 247.5px;
}

.slider .carousel {
  margin: 0 -8px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 660px;
}

.slider .carousel__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 82.5px;
}

.slider .carousel__slide:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.slider .slide-image {
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.slider .slide-image img {
  width: 100%;
  height: 100%;
}

.slider .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background-image: linear-gradient(to right, #07eee0, #df496d);
}

.slider .slide-active:hover {
  -webkit-transform: none;
          transform: none;
}

.slider .slide-active .gradient {
  width: 85px;
  height: 85px;
}

.slider .slide-active .slide-image {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  border: 2px solid var(--bg-main);
}

.slider__btn {
  height: 20px;
  width: 20px;
  border-top: 5px solid #828282;
  border-left: 5px solid #828282;
  border-radius: 2px;
}

.slider .btn_left {
  margin-right: -5px;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

.slider .btn_left:hover {
  -webkit-transform: scale(1.4) rotate(315deg);
          transform: scale(1.4) rotate(315deg);
}

.slider .btn_left:active {
  border-color: #4bd8B5;
}

.slider .btn_right {
  margin-left: -5px;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.slider .btn_right:hover {
  -webkit-transform: scale(1.4) rotate(135deg);
          transform: scale(1.4) rotate(135deg);
}

.slider .btn_right:active {
  border-color: #4bd8B5;
}

@media screen and (min-width: 640px) {
  .slider {
    margin-top: 35px;
    height: 157px;
    width: 580px;
  }
  .slider__wrapper {
    overflow: hidden;
    width: 540px;
  }
  .slider .carousel {
    margin: 0;
    width: 1050px;
  }
  .slider .carousel__slide {
    width: 160px;
  }
  .slider .slide-image {
    width: 108px;
    height: 108px;
  }
  .slider .gradient {
    width: 108px;
    height: 108px;
  }
  .slider .slide-active .gradient {
    width: 157px;
    height: 157px;
  }
  .slider .slide-active .slide-image {
    -webkit-transform: scale(1.38);
            transform: scale(1.38);
    border: 3px solid var(--bg-main);
  }
  .slider .btn_left {
    margin-right: -5px;
  }
  .slider .btn_right {
    margin-left: -5px;
  }
}

@media screen and (min-width: 1200px) {
  .slider {
    width: 780px;
  }
  .slider__wrapper {
    overflow: hidden;
    width: 687px;
  }
  .slider .carousel {
    margin: 0;
    width: 1100px;
  }
  .slider .carousel__slide {
    width: 137px;
  }
}

@media screen and (min-width: 1920px) {
  .slider {
    margin-top: 55px;
    width: 1180px;
  }
  .slider__wrapper {
    overflow: hidden;
    width: 1100px;
  }
  .slider .carousel {
    margin: 0;
    width: 1100px;
  }
  .slider .carousel__slide {
    width: 137px;
  }
}

.social-net {
  position: absolute;
  left: 0;
  top: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
  width: 20;
}

.social-net__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-net__link:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.watch-btn {
  padding: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 245px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  text-decoration: none;
}

.watch-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.watch-btn:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  outline: none;
}

.watch-btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-btn__content svg {
  margin-right: 5px;
}

.watch-btn__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.scroll {
  margin-top: 21px;
  margin-left: 0;
}

.scroll__n-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.scroll__n {
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-black);
}

.scroll__total-slides {
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #BDBDBD;
}

@media screen and (min-width: 640px) {
  .scroll {
    margin-top: 27px;
  }
}

@media screen and (min-width: 1920px) {
  .scroll {
    margin-top: 33px;
    margin-left: -27px;
  }
}

input[type=range] {
  height: 0;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 245px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.57);
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: rgba(189, 189, 189, 0.57);
}

input[type=range]::-webkit-slider-thumb {
  height: 10px;
  width: 30px;
  background: var(--text-black);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
  -webkit-transition-duration: .1s;
          transition-duration: .1s;
}

input[type=range]::-webkit-slider-thumb:hover {
  background-color: #4bd8B5;
}

input[type=range]::-webkit-slider-thumb:active {
  background-color: #26b08e;
}

input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 30px;
  background: var(--text-black);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -2.5px;
  transition-duration: .1s;
  border: none;
  border-radius: unset;
}

input[type=range]::-moz-range-thumb:hover {
  background-color: #4bd8B5;
}

input[type=range]::-moz-range-thumb:active {
  background-color: #26b08e;
}

.map {
  margin-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.map .watch-btn {
  margin-top: 46px;
}

.map__wrapper {
  z-index: 1;
  position: relative;
  width: 93.75%;
}

.map__wrapper .map-img {
  -webkit-transform: scaleY(1.2);
          transform: scaleY(1.2);
}

.map__wrapper img {
  width: 100%;
}

.map__wrapper .panda-marker {
  position: absolute;
  bottom: 63%;
  left: 77.5%;
}

.map__wrapper .alligator-marker {
  position: absolute;
  bottom: 61%;
  left: 23.2%;
}

.map__wrapper .eagle-marker {
  position: absolute;
  bottom: 67%;
  left: 13.5%;
}

.map__wrapper .gorilla-marker {
  position: absolute;
  bottom: 43%;
  left: 50.5%;
}

.map__wrapper .marker {
  z-index: 2;
  width: 34px;
  height: 47px;
}

.map__wrapper .marker .marker-img {
  -webkit-filter: drop-shadow(6px 3px 10px rgba(50, 50, 50, 0.2));
          filter: drop-shadow(6px 3px 10px rgba(50, 50, 50, 0.2));
}

.map__wrapper .marker:hover {
  cursor: pointer;
  -webkit-filter: hue-rotate(-40deg);
          filter: hue-rotate(-40deg);
}

.map__wrapper .marker:hover + .marker-info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  visibility: visible;
  opacity: 100%;
}

.map__wrapper .marker > img {
  margin-left: -50%;
  height: 100%;
  width: 100%;
}

.map__wrapper .marker-icon {
  z-index: 3;
  overflow: hidden;
  position: absolute;
  top: 14%;
  left: -31%;
  height: 44%;
  width: 61.333%;
  border-radius: 50%;
}

.map__wrapper .marker-active .marker-img {
  -webkit-filter: drop-shadow(6px 3px 10px rgba(50, 50, 50, 0.2)) hue-rotate(198deg) saturate(350%);
          filter: drop-shadow(6px 3px 10px rgba(50, 50, 50, 0.2)) hue-rotate(198deg) saturate(350%);
}

.map__wrapper .marker-active:hover {
  cursor: pointer;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media screen and (min-width: 640px) {
  .map {
    margin-top: 50px;
  }
  .map .map-img {
    -webkit-transform: scaleY(1.15);
            transform: scaleY(1.15);
  }
  .map .marker {
    width: 66px;
    height: 92px;
  }
  .map .watch-btn {
    margin-top: 57px;
  }
}

@media screen and (min-width: 1200px) {
  .map {
    margin-top: 75px;
  }
  .map__wrapper {
    width: 66.67%;
  }
  .map .map-img {
    -webkit-transform: scaleY(1.17);
            transform: scaleY(1.17);
  }
  .map .watch-btn {
    margin-top: 62px;
  }
}

@media screen and (min-width: 1920px) {
  .map {
    margin-top: 15px;
  }
  .map__wrapper {
    width: 1200px;
    margin-top: 60px;
  }
  .map .map-img {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
  }
  .map .watch-btn {
    margin-top: 47px;
  }
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #333333;
}

.footer__wrapper {
  margin-top: 50px;
  position: relative;
  width: 93.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .logo {
  margin-top: -8px;
  margin-bottom: 38px;
}

.footer .logo > * {
  color: #fefefe;
}

.footer__nav {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  list-style: none;
}

.footer__nav-list .nav-link {
  margin: 2.5px 73px 2.5px 0;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__nav-list .nav-link:active {
  color: #999999;
}

.footer__nav-list .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .watch-btn {
  margin: 46px auto 0;
  width: 279px;
}

.footer .watch-btn__name {
  font-weight: 500;
}

.footer .contacts-us-and-centre {
  margin-top: 20px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}

.footer .centre {
  margin-top: 54px;
  width: 100%;
}

.footer .centre__title {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
}

.footer .centre__address {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
}

.footer .centre__address a {
  text-decoration: inherit;
  color: inherit;
}

.footer .centre .social-net {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 125px;
}

.footer .contact-us {
  width: 100%;
}

.footer .contact-us__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}

.footer .contact-us__form {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer .contact-us__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 26px;
  font-size: 14px;
  line-height: 16px;
  color: #E0E0E0;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  background-color: transparent;
}

.footer .contact-us__message {
  width: 100%;
  height: 125px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

.footer .contact-us__legend {
  margin-left: 5px;
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer .contact-us__textarea {
  resize: none;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  border: none;
  background-color: transparent;
}

.footer .contact-us .check {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-starn;
      -ms-flex-pack: flex-starn;
          justify-content: flex-starn;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.footer .contact-us .check__input {
  -webkit-appearance: none;
}

.footer .contact-us .check__box {
  margin-right: 6px;
  width: 13px;
  height: 13px;
  color: #bdbdbd;
  background-color: transparent;
  border: 1px solid #bdbdbd;
}

.footer .contact-us .check__box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer .contact-us .check__input:checked + .check__box {
  background: url(../../assets/icons/check.svg) no-repeat center;
  background-size: cover;
}

.footer .contact-us__send {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.footer .contact-us__send:hover {
  background-color: #4f4f4f;
}

.footer .contact-us__send:active {
  background-color: #828282;
}

.footer .contact-us .send-arrow {
  margin-left: 24px;
  width: 48px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 28px;
}

.footer__copyright .copyright-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
}

@media screen and (min-width: 640px) {
  .footer__wrapper {
    margin-top: 97px;
  }
  .footer .logo {
    margin-bottom: 25px;
  }
  .footer .watch-btn {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-us-and-centre {
    margin-top: 20px;
    padding-bottom: 75px;
  }
  .footer .centre {
    margin-top: 75px;
  }
  .footer .contact-us__form {
    width: 385px;
  }
  .footer .contact-us .check {
    margin-top: 22px;
  }
  .footer__copyright {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    width: 75%;
    margin-top: 100px;
  }
  .footer .logo {
    margin-bottom: 0;
  }
  .footer .watch-btn {
    margin-top: 40px;
    margin-left: 0;
    position: unset;
    top: unset;
    right: unset;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 49%;
  }
  .footer .contacts-us-and-centre {
    margin-top: 60px;
    padding-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .centre {
    margin-top: 0;
    width: 49%;
  }
  .footer .contact-us {
    width: 49%;
  }
  .footer .contact-us__form {
    margin-top: 43px;
    width: 385px;
  }
  .footer .contact-us .check {
    margin-top: 15px;
  }
  .footer .contact-us .send-arrow {
    margin-right: 12px;
  }
  .footer__copyright {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .footer__wrapper {
    margin-top: 100px;
    width: 1620px;
  }
  .footer .watch-btn {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-us-and-centre {
    margin-top: 68px;
    padding-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .contact-us {
    width: 49%;
  }
  .footer .contact-us__form {
    margin-top: 32px;
  }
  .footer .contact-us .check {
    margin-top: 25px;
  }
  .footer__copyright {
    margin-bottom: 70px;
  }
}
/*# sourceMappingURL=style.css.map */