$desktop: 1920px;
$desktop-min: 1200px;
$tablet: 640px;
$mobile: 320px;
$text-black: #333333;
$text-gray: #4f4f4f;
$bg-gray: #f2f2f2;
$text-white: #fff;
$btn-blue: #4bd8B5;

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-regular.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-500.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-700.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-700.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-900.woff') format('woff'); 
}

@mixin flex-column ($justify-content: flex-start, $align-items: center) {
     display: flex;
     flex-direction: column;
     justify-content: $justify-content;
     align-items: $align-items;     
}

@mixin flex-row ($justify-content: space-between, $align-items: center) {
     display: flex;
     flex-direction: row;
     justify-content: $justify-content;
     align-items: $align-items;     
}

html {
     box-sizing: border-box;
     scroll-behavior: smooth;
     transition-duration: .2s;
}
   
*, *::before, *::after {
     box-sizing: inherit;
     transition-duration: inherit;
}

body {
     overflow: auto;
     @include flex-column();
     font-family: 'Roboto', sans-serif;
     cursor: default;
     background-color: #fbfbfb;
}

.visually-hidden {
     position: absolute;
     clip: rect(0,0,0,0);
     width: 1px;
     height: 1px;
     margin: -1px;
     overflow: hidden;
}

.h3 {
     margin-top: 100px;
     margin-bottom: 0;
     font-weight: 900;
     font-size: 48px;
     line-height: 56px;
     color: $text-black;
}

.weight-500 {
     font-weight: 500;
}

.wrapper {
     position: relative;
     @include flex-row();
     width: 1620px;
}

.logo {
     position: relative;
     top: -.2em;
     @include flex-column();
     text-decoration: none;
     &__zoo {
          font-weight: 900;
          font-size: 36px;
          line-height: 32px;
          color: $text-black;
     }
     &__online {
          font-weight: 900;
          font-size: 18px;
          line-height: 15px;
          letter-spacing: 0.08em;
          color: $text-black;
     }
}

.nav-list {
     padding-left: 0;
     @include flex-row();
     width: 572px;
     list-style: none;
     &__link {
          display: block;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $text-black;
          text-decoration: none;
          &:active {
               color: lighten($text-black, 40%);
          }
          &:hover {
               transform: scale(1.2);
          }
     }
     .current-page {
          cursor: unset;
          font-weight: 900;
          text-decoration: underline;
          &:active {
               color: inherit;
          }
          &:hover {
               transform: none;
          }
     }
     .first-link:hover {
          transform: none;
     }
     @media screen and (max-width: $desktop-min) {
          display: none;
     } 
}

.header {
     @include flex-row(center);
     height: 94px;
     width: 100%;
     background-color: #fff;
     &__nav-btn {
          display: none;
          @media screen and (max-width: $desktop-min) {
               @include flex-row(center, center);
               outline: none;
               border: none;
               background: none;
               &:hover {
                    & line {
                         stroke: $btn-blue;
                    }
               }
          }
     }
     .theme-switcher {
          @include flex-row();
          width: 54px;
          height: 30px;
          background: $bg-gray;
          border-radius: 190px;
          & input {
               display: none;
          }
          &:hover {
               background-color: darken($bg-gray, 10%);
          }
          @media screen and (max-width: $desktop-min) {
               position: absolute;
               right: 80px;
          }
          &_active {
               background-color: $text-gray;
          }
          &__slider {
               margin-left: 6px;
               width: 20px;
               height: 20px;
               background: #FFFFFF;
               border-radius: 50%;
               box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          }
          &__slider_active {
               transform: translateX(22px);
               background-color: #1B1B1B;
               box-shadow: none;
          }
     }
}

.main {
     @include flex-column();
     width: 100%;
}

.watch-online {
     overflow: hidden;
     @include flex-column();
     min-width: 100%;
     height: 940px;
     background: url(../../assets/images/bg-landing-1920.jpg) no-repeat center center;
     background-size: cover;
/*     @media screen and (max-width:1918px) {
          background: url(../../assets/images/bg-landing-1200.jpg) no-repeat center center;
          background-size: cover;
     }
     @media screen and (max-width: $desktop-min) {
          background: url(../../assets/images/bg-landing-640.jpg) no-repeat center center;
          background-size: cover;
     }
     @media screen and (min-width: $tablet) {
          background: url(../../assets/images/bg-landing-320.jpg) no-repeat center center;
          background-size: cover;
     }*/
     &__wrapper {
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          width: 1200px;
          .watch-btn {
               margin-top: 37px;
          }
          h2 {
               margin-top: 206px;
               display: block;
               width: 793px;
               font-weight: 900;
               font-size: 89px;
               line-height: 104px;
               color: #FEFEFE;
          }
/*          @media screen and (max-width: $desktop) {
               width: 100%;
               margin: 0 auto;
               h2 {
                    margin-top: 128px;
               }
          }
          @media screen and (max-width: $desktop-min) {
               width: 100%;
               h2 {
                    margin-top: 122px;
                    width: 600px;
                    font-weight: 900;
                    font-size: 64px;
                    line-height: 75px;
               }
          }
          @media screen and (max-width: $tablet) {
               width: 100%;
               h2 {
                    margin-top: 92px;
                    width: 100%;
                    font-weight: 900;
                    font-size: 48px;
                    line-height: 56px;
               }
          }*/
     }
     &__slider {
          position: absolute;
          left: 690px;
          top:427px;
          @include flex-column();
          width: 1680px;
     }
     &__carousel {
          @include flex-row(flex-end, center);
          width: 100%;
          background: url(../../assets/icons/line.svg) no-repeat center left;
     }
     &__slide {
          position: relative;
          margin-left: 46px;
          overflow: hidden;
          @include flex-column(flex-end, center);
          width: 140px;
          height: 203px;
          border-radius: 5px;
          .slide-content {
               visibility: hidden;
               opacity: 0;
               &__buttons {
                    @include flex-column(flex-start, flex-start);
                    a {
                         margin-top: 5px;
                    }
               }
          }
          & img {
               height: 100%;
          }
          &:hover {
               transform: scale(1.1);
               .slide-content {
                    top: 0;
                    visibility: visible;
                    opacity: 100%;
               }
          }
     }
     .slide-active {
          margin-top: -20px;
          width: 245px;
          height: 352px;   
          .slide-content {
               visibility: visible;
               top: 0;
               opacity: 100%;
               &__buttons {
                    @include flex-row(space-between, center);
                    a {
                         margin-top: 0;
                    }
               }
          }
          &:hover {
               transform: none;
          }
     }
     .scroll {
          align-self: flex-end;
          margin-top: 20px;
          margin-right: 1116px;
          &__n {
               color: #fefefe;
          }
     }
     input[type=range]::-webkit-slider-thumb {
          background: white;
     }
     input[type=range]::-moz-range-thumb {
          background: white;
     }
}

.slide-content {
     visibility: hidden;
     opacity: 0;
     z-index: 105;
     position: absolute;
     top: 100%;
     padding: 0 10% 15% 10%;
     @include flex-column(flex-end, center);
     height: 100%;
     width: 100%;
     background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.9)); 
     &__text {
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: white;
     }
     &__buttons {
          margin-top: 14px;
          width: 100%;
          @include flex-row(space-between, center);
     }
}


.social-net {
     position: absolute;
     left: 0;
     top: 750px;
     @include flex-column(space-between);
     height: 107px;
     width: 20;
     &__link {
          & svg:hover {
               transform: scale(1.2);
          }
          &:active {
               & path {
                    fill: darken(#FEFEFE, 30%)
               }
          }
     }
}

.watch-btn {
     padding: 0;
     margin-top: 30px;
     @include flex-row(center);
     height: 55px;
     width: 245px;
     border: none;
     outline: none;
     border-radius: 3px;
     background-color: $btn-blue;
     text-decoration: none;
     &:hover {
          transform: scale(1.1);
     }
     &:active {
          background-color: darken($btn-blue, 15%);
          outline: none;
     }
     &__content {
          @include flex-row();
          svg {
               margin-right: 5px;
          }
     }
     &__name {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: $text-white;
     }
}

.how-it-works {
     @include flex-column();
     width: 100%;
     &__wrapper {
          @include flex-column;
          max-width: 790px;
          @media screen and (max-width: $desktop-min) {
               padding: 0 4%;
               max-width: 790px;
          }
          @media screen and (max-width: $tablet) {
               padding: 0;
               width: 92%;
          }
          .h3 {
               align-self:flex-start;
          }
     }
     &__story {
          margin-top: 30px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
     }
     &__slider {
          margin-top: 35px;
          margin-bottom: 100px;
          @include flex-column();
     }
     &__slide {
          width: 790px;
          height: 323px;
          border-radius: 5px;
          overflow: hidden;
     }
     input[type=range]::-webkit-slider-thumb {
          width: 60px;
     }
     input[type=range]::-moz-range-thumb {
          width: 60px;
     }
}

.scroll {
     margin-top: 30px;
     &__n-slide {
          @include flex-row(center, flex-end);
     }
     &__n {
          font-weight: 900;
          font-size: 24px;
          line-height: 28px;
          color: $text-black;
     }
     &__total-slides {
          font-weight: 900;
          font-size: 14px;
          line-height: 22px;
          color: #BDBDBD;
     }
}

input[type=range] {
     height: 0;
     -webkit-appearance: none;
     margin: 10px 0;
     width: 245px;
}

input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     background: rgba(189, 189, 189, 0.57);
}
input[type=range]::-moz-range-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     background: rgba(189, 189, 189, 0.57);
}
input[type=range]::-webkit-slider-thumb {
     height: 10px;
     width: 30px;
     background: $text-black;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -2.5px;
     transition-duration: .1s;
     &:hover {
          background-color: $btn-blue;
     }
     &:active {
          background-color: darken($btn-blue, 15%);
     }
}
input[type=range]::-moz-range-thumb {
     height: 10px;
     width: 30px;
     background: $text-black;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -2.5px;
     transition-duration: .1s;
     border: none;
     border-radius: unset;
     &:hover {
          background-color: $btn-blue;
     }
     &:active {
          background-color: darken($btn-blue, 15%);
     }
}

.whats-inspiring-us {
     @include flex-column();
     width: 100%;
     background-color: $bg-gray;
     &__wrapper {
          margin-top: 100px;
          margin-bottom: 100px;
          @include flex-row(space-between, flex-start);
          width: 1200px;
     }
     &__item {
          @include flex-column(flex-start);
          width: 380px;
          height: 210px;
     }
     &__title {
          margin-top: 15px;
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $text-black;
          text-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
     }
     &__content {
          margin-top: 15px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
          text-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
     }
}

.pets-in-zoo {
     padding-bottom: 100px;
     @include flex-column();
     & img {
          height: 100%;
     }
     &__wrapper {
          margin-top: 35px;
          @include flex-row(center, center);
     }
     &__slider {
          @include flex-row();
          width: 1200px;
     }
     &__slide {
          position: relative;
          @include flex-column(center, center);
          overflow: hidden;
          height: 399px;
          width: 277px;
          border-radius: 5px;
          .slide-content {
               padding-right: 20%;
               padding-bottom: 15%;
          }
          &:hover {
               .slide-content {
                    top: 0;
                    visibility: visible;
                    opacity: 100%;
               }
          }
     }
}

.slider-btn {
     margin: 0 20px;
     height: 20px;
     width: 20px;
     border-top: 5px solid #828282;
     border-left: 5px solid #828282;
     border-radius: 2px;
}
.btn_left {
     transform: rotate(315deg);
     &:hover {
          transform: scale(1.4) rotate(315deg);
     }
     &:active {
          border-color: $btn-blue;
     }
}
.btn_right {
     transform: rotate(135deg);
     &:hover {
          transform: scale(1.4) rotate(135deg);
     }
     &:active {
          border-color: $btn-blue;
     }
}

.pay-and-feed {
     padding-bottom: 100px;
     @include flex-column();
     width: 100%;
     background-color: $bg-gray;
     &__wrapper {
          @include flex-column();
          max-width: 1200px;
     }
     &__subtitle {
          margin-top: 30px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: $text-gray;
     }
     &__schema {
          margin-top: 92px;
          margin-bottom: 23px;
          @include flex-row(center, center);
     }
     &__stage {
          @include flex-column(center, center);
          height: 245px;
          width: 245px;
          border: 3px solid $btn-blue;
          border-radius: 50%;
     }
     &__icon {
          object-position: bottom;
          margin-bottom: 18px;
     }
     &__schema-title {
          width: 60%;
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $text-gray;
     }
     &__arrow {
          margin: 63px;
     }
     .watch-btn {
          margin-top: 40px;
     }
}

.testimonials {
     padding-bottom: 100px;
     @include flex-column();
     &__wrapper {
          margin-top: 60px;
          @include flex-row(center, center);
     }
     &__slider {
          @include flex-row();
          height: 310px;
          width: 1200px;
     }
     &__feedback {
          @include flex-column();
          height: 100%;
          width: 48.7%;
          background-color: #fff;
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.10);
     }
     .user-avatar {
          margin-top: 47px;
          @include flex-column(center, center);
          height: 68px;
          width: 68px;
          border: 1px solid #bdbdbd;
          border-radius: 50%;
     }
     .feedback-name {
          margin-top: 17px;
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $text-black;
          text-transform: capitalize;
     }
     .feedback-content {
          margin-top: 17px;
          width: 75%;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
     }
     .scroll {
          margin-top: 50px;
     }
}

.map {
     @include flex-column();
     width: 100%;
     padding-bottom: 100px;
     background-color: $bg-gray;
     .watch-btn {
          margin-top: 37px;
     }
     &__wrapper {
          margin-top: 60px;
          position: relative;
          width: 1200px;
          .panda-marker {
               position: absolute;
               top: 98px;
               left: 900px;
          }
          .eagle-marker {
               position: absolute;
               top: 80px;
               left: 122px;
          }
          .gorilla-marker {
               position: absolute;
               top: 190px;
               left: 572px;
          }
          .alligator-marker {
               position: absolute;
               top: 105px;
               left: 245px;
          }
          .marker {
               width: 66px;
               height: 92px;
               &:hover {
                    cursor: pointer;
                    svg path {
                         fill: #56D84B; 
                    }
                    .marker-info {
                         transform: translateY(0);
                         visibility: visible; 
                         opacity: 100%;                      
                    }
               }
               svg path:hover {
                    cursor: pointer;
                    & {
                         fill: #56D84B;
                    }
               }
               img {
                    height: 100%;
                    width: 100%;
               }
          }
          .marker-icon {
               z-index: 100;
               overflow: hidden;
               position: absolute;
               top: 14%;
               left: 20.5%;
               height: 44%;
               width: 61.333%;
               border-radius: 50%;
          }
          .marker-info {
               z-index: 105;
               transform: translateY(50px);
               opacity: 0;
               visibility: hidden;
               position: absolute;
               top: 80px;
               left: -220%;
               padding: 40px;
               @include flex-row(center, center);
               width: 435px;
               height: 150px;
               background-color: #fefefe;
               box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.10);
               border-radius: 8px;
               &__icon {
                    overflow: hidden;
                    margin-right: 20px;
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
               }
               &__text {
                    width: 250px;
               }
               &__title {
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 21px;
                    color: #333333;
               }
               &__content {
                    margin-top: 5px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
               }
          }
     }

}

.footer {
     @include flex-column();
     width: 100%;
     background-color: $text-black;
     &__wrapper {
          margin-top: 100px;
          position: relative;
          width: 1620px;
          @include flex-column();
     }
     .logo > * {
          color: #fefefe;
     }
     &__nav {
          margin-top: 5px;
          @include flex-row();
          width: 100%;
     }
     .nav-list {
          @include flex-row(flex-start, center);
          width: 49%;
          &__link {
               margin-right: 73px;
               color: #f2f2f2
          }
     }
     .watch-btn {
          margin: 0;
          position: absolute;
          top: 0;
          right: 0;
          width: 279px;
          &__name {
               font-weight: 500;
          }
     }
     .contacts-us-and-centre {
          margin-top: 60px;
          padding-bottom: 50px;
          @include flex-row(space-between, flex-start);
          width: 100%;
          border-bottom: 1px solid #bdbdbd;
     }
     .centre {
          width: 49%;
          &__title {
               margin-bottom: 35px;
               font-weight: 900;
               font-size: 14px;
               line-height: 16px;
               text-transform: uppercase;
               color: #fefefe;
          }
          &__address {
               margin-bottom: 20px;
               font-weight: normal;
               font-size: 14px;
               line-height: 20px;
               color: #fefefe;
               & a {
                    text-decoration: inherit;
                    color: inherit;
               }
          }
          .social-net {
               position: unset;
               @include flex-row();
               height: 20px;
               width: 125px;
          }
     }
     .contact-us {
          &__title {
               font-weight: 900;
               font-size: 20px;
               line-height: 23px;
               color: #fefefe;
          }
          &__form {
               margin-top: 33px;
               @include flex-column(flex-start, flex-start);
               width: 385px;
          }
          &__input {
               display: flex;
               margin-bottom: 20px;
               width: 100%;
               height: 26px;
               color: #E0E0E0;
               border: none;
               border-bottom: 1px solid #BDBDBD;
               background-color: transparent;
          }
          &__message {
               width: 100%;
               height: 125px;
               border: 1px solid #BDBDBD;
               border-radius: 3px;
          }
          &__legend {
               margin-left: 5px;
               padding: 3px;
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #BDBDBD;
          }
          &__textarea {
               resize: none;
               margin: 0 5px;
               width: 100%;
               height: 100%;
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #BDBDBD;
               border: none;
               background-color: transparent;
          }
          .check {
               margin-top: 25px;
               @include flex-row(flex-starn, center);
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #bdbdbd;
               &__input {
                    -webkit-appearance: none;
               }
               &__box {
                    margin-right: 6px;
                    width: 13px;
                    height: 13px;
                    color: #bdbdbd;
                    background-color: transparent;
                    border: 1px solid #bdbdbd;
                    &:hover {
                         background-color: rgba(255,255,255,.3);
                    }
               }
          }
          .check__input:checked + .check__box {
               background: url(../../assets/icons/check.svg) no-repeat center;
               background-size: cover;
          } 
          &__send {
               padding: 10px;
               margin-top: 10px;
               @include flex-row(flex-start, center);
               align-self: flex-end;
               font-weight: 500;
               font-size: 14px;
               line-height: 16px;
               text-transform: uppercase;
               color: #fefefe;
               border: none;
               border-radius: 5px;
               background-color: transparent;
               &:hover {
                    background-color: #4f4f4f;
               }
               &:active {
                    background-color: #828282;
               }
          }
          .send-arrow {
               margin: 0 10px 0 24px;
               width: 48px;
          }
     }
     &__copyright {
          @include flex-row();
          width: 100%;
          margin-top: 28px;
          margin-bottom: 72px;
          .copyright-text {
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #bdbdbd;
          }
     }
}