$desktop: 1920px;
$desktop-min: 1200px;
$tablet: 640px;
$mobile: 320px;
$text-black: #333333;
$text-gray: #4f4f4f;
$bg-gray: #f2f2f2;
$text-white: #fff;
$btn-blue: #4bd8B5;

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 400;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-regular.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 500;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-500.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-500.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 700;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-700.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-700.woff') format('woff'); 
}

@font-face {
     font-family: 'Roboto';
     font-style: normal;
     font-weight: 900;
     src: local(''),
          url('../../assets/fonts/roboto-v20-latin-900.woff2') format('woff2'), 
          url('../../assets/fonts/roboto-v20-latin-900.woff') format('woff'); 
}

@mixin flex-column ($justify-content: flex-start, $align-items: center) {
     display: flex;
     flex-direction: column;
     justify-content: $justify-content;
     align-items: $align-items;     
}

@mixin flex-row ($justify-content: space-between, $align-items: center) {
     display: flex;
     flex-direction: row;
     justify-content: $justify-content;
     align-items: $align-items;     
}

html {
     box-sizing: border-box;
     scroll-behavior: smooth;
     transition-duration: .2s;
}
   
*, *::before, *::after {
     box-sizing: inherit;
     transition-duration: inherit;
}

body {
     overflow-x: hidden;
     @include flex-column();
     font-family: 'Roboto', sans-serif;
     cursor: default;
     background-color: #fbfbfb;
}

.visually-hidden {
     position: absolute;
     clip: rect(0,0,0,0);
     width: 1px;
     height: 1px;
     margin: -1px;
     overflow: hidden;
}

.h3 {
     margin-top: 50px;
     margin-bottom: 0;
     font-weight: 900;
     font-size: 36px;
     line-height: 42px;
     color: $text-black;
     @media screen and (min-width: $tablet) {
          margin-top: 100px;
          font-size: 48px;
          line-height: 56px;
     }
     @media screen and (min-width: $desktop-min) {
     }
     @media screen and (min-width: $desktop) {
     } 
}

.weight-500 {
     font-weight: 500;
}

.wrapper {
     position: relative;
     @include flex-row();
     width: 93.75%;
     @media screen and (min-width: $tablet) {
          h2 {
               margin-top: 92px;
               width: 100%;
               font-weight: 900;
               font-size: 48px;
               line-height: 56px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          width: 75%;
          h2 {
               margin-top: 122px;
               width: 600px;
               font-weight: 900;
               font-size: 64px;
               line-height: 75px;
          }
     }
     @media screen and (min-width: $desktop) {
          width: 1620px;
          margin: 0 auto;
          h2 {
               margin-top: 128px;
          }
     }     
}

.logo {
     position: relative;
     top: -.2em;
     @include flex-column();
     text-decoration: none;
     &__zoo {
          font-weight: 900;
          font-size: 36px;
          line-height: 32px;
          color: $text-black;
     }
     &__online {
          font-weight: 900;
          font-size: 18px;
          line-height: 15px;
          letter-spacing: 0.08em;
          color: $text-black;
     }
}

.nav-list {
     padding-left: 0;
     @include flex-row();
     width: 572px;
     list-style: none;
     &__link {
          display: block;
          font-weight: normal;
          font-size: 16px;
          line-height: 19px;
          color: $text-black;
          text-decoration: none;
          &:active {
               color: lighten($text-black, 40%);
          }
          &:hover {
               transform: scale(1.2);
          }
     }
     .current-page {
          cursor: unset;
          font-weight: 900;
          text-decoration: underline;
          &:active {
               color: inherit;
          }
          &:hover {
               transform: none;
          }
     }
     .first-link:hover {
          transform: none;
     }
     @media screen and (max-width: $desktop-min) {
          display: none;
     } 
}

.header {
     @include flex-row(center);
     height: 94px;
     width: 100%;
     background-color: #fff;
     &__nav-btn {
          display: none;
          @media screen and (max-width: $desktop-min) {
               @include flex-row(center, center);
               outline: none;
               border: none;
               background: none;
               &:hover {
                    & line {
                         stroke: $btn-blue;
                    }
               }
          }
     }
     .theme-switcher {
          @include flex-row();
          width: 54px;
          height: 30px;
          background: $bg-gray;
          border-radius: 190px;
          & input {
               display: none;
          }
          &:hover {
               background-color: darken($bg-gray, 10%);
          }
          @media screen and (max-width: $desktop-min) {
               position: absolute;
               right: 80px;
          }
          &_active {
               background-color: $text-gray;
          }
          &__slider {
               margin-left: 6px;
               width: 20px;
               height: 20px;
               background: #FFFFFF;
               border-radius: 50%;
               box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          }
          &__slider_active {
               transform: translateX(22px);
               background-color: #1B1B1B;
               box-shadow: none;
          }
     }
}

.main {
     @include flex-column();
     width: 100%;
}

.watch-online {
     overflow: hidden;
     @include flex-column();
     min-width: 100%;
     height: 669px;
     background: url(../../assets/images/bg-landing-320.jpg) no-repeat center center;
     background-size: cover;
     &__wrapper {
          position: relative;
          margin: 0 auto;
          padding-bottom: 50px;
          display: flex;
          flex-direction: column;
          width: 100%;
          .watch-btn {
               margin-top: 15px;
          }
          h2 {
               margin-top: 92px;
               display: block;
               width: 100%;
               font-weight: 900;
               font-size: 48px;
               line-height: 56px;
               color: #FEFEFE;
          }
     }
     &__slider {
          position: absolute;
          left: -5px;
          top: 365px;
          @include flex-column();
          width: 1015px;
     }
     &__carousel {
          @include flex-row(flex-end, center);
          width: 100%;
          background: url(../../assets/icons/line.svg) no-repeat center left;
     }
     &__slide {
          position: relative;
          margin-left: 9px;
          overflow: hidden;
          @include flex-column(flex-end, center);
          width: 113px;
          height: 164px;
          border-radius: 5px;
          .slide-content {
               visibility: hidden;
               opacity: 0;
               padding: 0 8px 10px 8px;
               &__text {
                    font-size: 12px;
                    line-height: 14px;
               }
               &__buttons {
                    img {
                         height: 20px;
                    }
                    margin-top: 0;
                    @include flex-column(flex-start, flex-start);
                    a {
                         margin-top: 5px;
                    }
               }
          }
          & img {
               height: 100%;
          }
          &:hover {
               transform: scale(1.1);
               .slide-content {
                    top: 0;
                    visibility: visible;
                    opacity: 100%;
               }
          }
     }
     .slide-active {
          width: 140px;
          height: 202px;   
          .slide-content {
               visibility: visible;
               top: 0;
               opacity: 100%;
               &__buttons {
                    margin-top: 0;
                    @include flex-column(flex-start, flex-start);
                    a {
                         margin-top: 5px;
                    }
               }
          }
          &:hover {
               transform: none;
          }
     }
     .scroll {
          align-self: flex-end;
          margin-top: 15px;
          margin-right: 732px;
          &__n-slide {
               margin-bottom: -10px;
          }
          &__n {
               color: #fefefe;
          }
     }
     input[type=range] {
          margin: 0;
          width: 140px;
     }
     input[type=range]::-webkit-slider-thumb {
          width: 17.5px;
          background: white;
     }
     input[type=range]::-moz-range-thumb {
          width: 17.5px;
          background: white;
     }
     @media screen and (min-width: $tablet) {
          background: url(../../assets/images/bg-landing-1200.jpg) no-repeat center center;
          padding-bottom: 100px;
          min-width: 100%;
          height: 934px;
          .watch-btn {
               margin-top: 30px;
          }
          h2 {
               margin-top: 122px;
               width: 100%;
               font-weight: 900;
               font-size: 64px;
               line-height: 75px;
          }
          &__slider {
               margin-top: 0px;
               left: 30px;
               top: 427px;
               width: 1786px;
          }
          &__slide {
               margin-top: -20px;
               margin-left: 30px;
               width: 180px;
               height: 261px;
               .slide-content {
                    &__buttons {
                         img {
                              height: unset;
                         }
                         margin-top: 5px;
                         @include flex-column(flex-start, flex-start);
                         a {
                              margin-top: 5px;
                         }
                    }
               }
               & img {
                    height: 100%;
               }
               &:hover {
                    transform: scale(1.1);
                    .slide-content {
                         top: 0;
                         visibility: visible;
                         opacity: 100%;
                    }
               }
          }
          .slide-active {
               width: 245px;
               height: 352px;   
               .slide-content {
                    visibility: visible;
                    top: 0;
                    opacity: 100%;
                    padding: 0 10% 15% 10%;
                    &__text {
                         width: 90%;
                    }
                    &__buttons {
                         margin-top: 15px;
                         @include flex-row(flex-start, center);
                         a {
                              margin-top: 0;
                              margin-right: 8px;
                         }
                    }
               }
               &:hover {
                    transform: none;
               }
          }
          .scroll {
               align-self: flex-end;
               margin-top: 30px;
               margin-right: 1260px;
               &__n-slide {
                    margin-bottom: 0;
               }
               &__n {
                    color: #fefefe;
               }
          }
          input[type=range] {
               width: 245px;
          }
          input[type=range]::-webkit-slider-thumb {
               width: 35px;
               background: white;
          }
          input[type=range]::-moz-range-thumb {
               width: 35px;
               background: white;
          }
     }
     @media screen and (min-width: $desktop-min) {
          background: url(../../assets/images/bg-landing-1200.jpg) no-repeat center center;
          padding-bottom: 68px;
          .watch-btn {
               margin-top: 37px;
          }
          h2 {
               margin-top: 128px;
               width: 900px;
               font-weight: 900;
               font-size: 89px;
               line-height: 104px;
          }
          &__slider {
               @media screen and (min-width: $desktop) {
                    left: 690px;
                    top:427px;
                    width: 1680px;
               } 
          }
     }
     @media screen and (min-width: $desktop) {
          background: url(../../assets/images/bg-landing-1920.jpg) no-repeat center center;
          padding-bottom: 113px;
          width: 1200px;
          margin: 0 auto;
          h2 {
               margin-top: 206px;
               display: block;
               width: 793px;
          }
          &__slider {
               @media screen and (min-width: $desktop) {
                    left: 690px;
                    top:427px;
                    width: 1680px;
               } 
          }
          .scroll {
               align-self: flex-end;
               margin-top: 20px;
               margin-right: 1116px;
               &__n {
                    color: #fefefe;
               }
          }
     }
}

.slide-content {
     visibility: hidden;
     opacity: 0;
     z-index: 105;
     position: absolute;
     top: 100%;
     padding: 0 5% 15% 5%;
     @include flex-column(flex-end, flex-start);
     height: 100%;
     width: 100%;
     background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.9)); 
     &__text {
          width: 100%;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: white;
     }
     &__buttons {
          margin-top: 14px;
          width: 100%;
          @include flex-row(space-between, center);
     }
}


.social-net {
     display: none;
     position: absolute;
     left: 0;
     top: 715px;
     height: 107px;
     width: 20;
     &__link {
          &:hover {
               transform: scale(1.2);
          }
          &:active {
               filter: brightness(70%);
          }
     }
     @media screen and (min-width: $tablet) {
          @include flex-column(space-between);
          top: 730px;
     }
     @media screen and (min-width: $desktop-min) {
          top: 740px;
     }
     @media screen and (min-width: $desktop) {
          top: 717px;
     }
}

.watch-btn {
     padding: 0;
     margin-top: 15px;
     @include flex-row(center);
     height: 55px;
     width: 245px;
     border: none;
     outline: none;
     border-radius: 3px;
     background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
     text-decoration: none;
     &:hover {
          transform: scale(1.1);
     }
     &:active {
          background-color: darken($btn-blue, 15%);
          outline: none;
     }
     &__content {
          @include flex-row();
          svg {
               margin-right: 5px;
          }
     }
     &__name {
          font-weight: 700;
          font-size: 18px;
          line-height: 21px;
          text-transform: uppercase;
          color: $text-white;
     }
     @media screen and (min-width: $tablet) {
          margin-top: 30px;
     }
     @media screen and (min-width: $desktop-min) {
     }
     @media screen and (min-width: $desktop) {
     }
}

.how-it-works {
     @include flex-column();
     width: 100%;
     &__wrapper {
          @include flex-column;
          width: 93.75%;
          .h3 {
               align-self:flex-start;
          }
     }
     &__story {
          margin-top: 20px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
     }
     &__slider {
          width: 100%;
          margin-top: 30px;
          margin-bottom: 50px;
          @include flex-column();
     }
     &__slide {
          position: relative;
          width: 100%;
          height: 323px;
          border-radius: 5px;
          overflow: hidden;
          img {
               height: 100%;
               width: auto;
          }
     }
     .scroll {
          margin-top: 22px;
     }
     input[type=range]::-webkit-slider-thumb {
          width: 60px;
     }
     input[type=range]::-moz-range-thumb {
          width: 60px;
     }
     @media screen and (min-width: $tablet) {
          &__wrapper {
               width: 93.75%;
          }
          &__story {
               margin-top: 30px
          }
          &__slider {
               margin-top: 30px;
               margin-bottom: 70px;
          }
          &__slide {
               width: 100%;
               height: 323px;
          }
          .scroll {
               margin-top: 30px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__wrapper {
               width: 750px;
          }
     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               width: 790px;
          }
     }
}

.scroll {
     margin-top: 30px;
     &__n-slide {
          @include flex-row(center, flex-end);
     }
     &__n {
          font-weight: 900;
          font-size: 24px;
          line-height: 28px;
          color: $text-black;
     }
     &__total-slides {
          font-weight: 900;
          font-size: 14px;
          line-height: 22px;
          color: #BDBDBD;
     }
}

input[type=range] {
     height: 0;
     -webkit-appearance: none;
     margin: 10px 0;
     width: 245px;
}

input[type=range]::-webkit-slider-runnable-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     background: rgba(189, 189, 189, 0.57);
}
input[type=range]::-moz-range-track {
     width: 100%;
     height: 5px;
     cursor: pointer;
     animate: 0.2s;
     background: rgba(189, 189, 189, 0.57);
}
input[type=range]::-webkit-slider-thumb {
     height: 10px;
     width: 30px;
     background: $text-black;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -2.5px;
     transition-duration: .1s;
     &:hover {
          background-color: $btn-blue;
     }
     &:active {
          background-color: darken($btn-blue, 15%);
     }
}
input[type=range]::-moz-range-thumb {
     height: 10px;
     width: 30px;
     background: $text-black;
     cursor: pointer;
     -webkit-appearance: none;
     margin-top: -2.5px;
     transition-duration: .1s;
     border: none;
     border-radius: unset;
     &:hover {
          background-color: $btn-blue;
     }
     &:active {
          background-color: darken($btn-blue, 15%);
     }
}

.whats-inspiring-us {
     @include flex-column();
     width: 100%;
     background-color: $bg-gray;
     &__wrapper {
          margin-top: 35px;
          margin-bottom: 35px;
          @include flex-column(flex-start, center);
          width: 93.75%;
     }
     &__item {
          margin: 15px 0;
          @include flex-column(flex-start);
          width: 100%;
     }
     &__img {
          filter: drop-shadow(2px 4px 15px rgba(6, 12, 70, 0.15));
     }
     &__title {
          margin-top: 15px;
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $text-black;
          text-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
     }
     &__content {
          margin-top: 15px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
          text-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
     }
     @media screen and (min-width: $tablet) {
          &__wrapper {
               margin-top: 75px;
               margin-bottom: 75px;
               @include flex-column(flex-start, center);
          }
          &__item {
               margin: 25px 0;
               width: 47.67%;
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__wrapper {
               margin-top: 75px;
               margin-bottom: 75px;
               @include flex-row(space-between, flex-start);
               width: 900px;
          }
          &__item {
               margin: 25px 0;
               width: 31.67%;
               height: 210px;
          }
     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               margin-top: 75px;
               margin-bottom: 75px;
               @include flex-row(space-between, flex-start);
               width: 1200px;
          }
          &__item {
               margin: 25px 0;
               width: 31.67%;
               height: 210px;
          }
     }
}

.pets-in-zoo {
     width: 100%;
     padding-bottom: 50px;
     @include flex-column();
     .slider-btn {
          display: none;
     }
     & img {
          height: 100%;
     }
     .h3 {
          margin-top: 100px;
     }
     &__wrapper {
          overflow: hidden;
          margin-top: 30px;
          @include flex-row(center, center);
          width: 93.75%;
     }
     .slider-wrapper {
          position: relative;
          overflow: hidden;
          width: 100%;
     }
     &__slider {
          position: relative;
          overflow: hidden;
          @include flex-row();
          width: 900px;
     }
     &__slide {
          position: relative;
          @include flex-column(center, center);
          overflow: hidden;
          height: 300px;
          width: 210px;
          border-radius: 5px;
          &:hover {
               .slide-content {
                    top: 0;
                    visibility: visible;
                    opacity: 100%;
               }
          }
     }
     .scroll {
          margin-top: 33px;
     }
     .watch-btn {
          margin-top: 22px;
     }
     @media screen and (min-width: $tablet) {
          padding-bottom: 100px;
          &__wrapper {
               width: 93.75%;
          }
          .watch-btn {
               margin-top: 35px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__wrapper {
               width: 100%;
          }
          .slider-btn {
               display: block;
          }
          .slider-wrapper {
               width: 900px;
          }
     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               width: 1620px;
          }
          .slider-wrapper {
               width: 1200px;
          }
          &__slider {
               width: 1200px;
          }
          &__slide {
               height: 399px;
               width: 277px;
          }
     }
}

.slider-btn {
     margin: 0 20px;
     height: 20px;
     width: 20px;
     border-top: 5px solid #828282;
     border-left: 5px solid #828282;
     border-radius: 2px;
}
.btn_left {
     transform: rotate(315deg);
     &:hover {
          transform: scale(1.4) rotate(315deg);
     }
     &:active {
          border-color: $btn-blue;
     }
}
.btn_right {
     transform: rotate(135deg);
     &:hover {
          transform: scale(1.4) rotate(135deg);
     }
     &:active {
          border-color: $btn-blue;
     }
}

.pay-and-feed {
     padding-bottom: 50px;
     @include flex-column();
     width: 100%;
     background-color: $bg-gray;
     &__wrapper {
          @include flex-column();
          max-width: 1200px;
     }
     &__subtitle {
          display: none;
          margin-top: 30px;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          text-align: center;
          color: $text-gray;
     }
     &__schema {
          margin-top: 30px;
          margin-bottom: 23px;
          @include flex-column(flex-start, center);
     }
     &__stage {
          @include flex-column(center, center);
          height: 245px;
          width: 245px;
          border: 3px solid $btn-blue;
          border-radius: 50%;
     }
     &__icon {
          object-position: bottom;
          margin-bottom: 18px;
     }
     &__schema-title {
          width: 60%;
          font-weight: 900;
          font-size: 20px;
          line-height: 23px;
          text-align: center;
          color: $text-gray;
     }
     &__arrow {
          img {
               transform: rotate(180deg);
          }
          overflow: hidden;
          margin: 42px;
          width: 40px;
          transform: rotate(-90deg);
     }
     .watch-btn {
          margin-top: 15px;
     }
     @media screen and (min-width: $tablet) {
          padding-bottom: 100px;
          &__subtitle {
               display: block;
               width: 90%;
          }
          .watch-btn {
               margin-top: 30px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__schema {
               margin-top: 92px;
               margin-bottom: 23px;
               @include flex-row(center, center);
          }
          &__arrow {
               margin: 17px;
               width: 48px;
               transform: rotate(-180deg);
          }
     }
     @media screen and (min-width: $desktop) {
          &__arrow {
               margin: 63px;
               width: 107px;
               transform: rotate(-180deg);
          }
     }
}

.testimonials {
     padding-bottom: 50px;
     @include flex-column();
     &__wrapper {
          margin-top: 40px;
          @include flex-row(center, center);
          width: 93.75%;
     }
     &__slider {
          @include flex-row();
          height: 363px;
          width: 100%;
     }
     &__feedback {
          @include flex-column();
          height: 100%;
          width: 100%;
          background-color: #fff;
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.10);
          &:nth-child(2) {
               display: none;
          }
     }
     .user-avatar {
          margin-top: 47px;
          @include flex-column(center, center);
          height: 68px;
          width: 68px;
          border: 1px solid #bdbdbd;
          border-radius: 50%;
     }
     .feedback-name {
          margin-top: 47px;
          font-weight: 900;
          font-size: 16px;
          line-height: 19px;
          text-align: center;
          color: $text-black;
          text-transform: capitalize;
     }
     .feedback-content {
          margin-top: 19px;
          width: 90%;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: $text-gray;
     }
     .scroll {
          margin-top: 40px;
     }
     .watch-btn {
          margin-top: 15px;
     }
     .slider-btn {
          display: none;
     }
     @media screen and (min-width: $tablet) {
          padding-bottom: 100px;
          &__wrapper {
               margin-top: 46px;
          }
          &__slider {
               @include flex-row();
               height: 310px;
          }
          &__feedback {
               @include flex-column();
               height: 100%;
               width: 100%;
               background-color: #fff;
               box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.10);
               &:nth-child(2) {
                    display: none;
               }
          }
          .user-avatar {
               margin-top: 47px;
               @include flex-column(center, center);
               height: 68px;
               width: 68px;
               border: 1px solid #bdbdbd;
               border-radius: 50%;
          }
          .feedback-name {
               margin-top: 17px;
               font-weight: 900;
               font-size: 20px;
               line-height: 23px;
               text-align: center;
               color: $text-black;
               text-transform: capitalize;
          }
          .feedback-content {
               margin-top: 17px;
               width: 75%;
               font-weight: normal;
               font-size: 14px;
               line-height: 16px;
               color: $text-gray;
          }
          .scroll {
               margin-top: 55px;
          }
          .watch-btn {
               margin-top: 25px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          .slider-btn {
               display: block;
          }
          &__wrapper {
               margin-top: 60px;
          }
          &__slider {
               @include flex-row();
               width: 75%;
          }
          &__feedback {
               @include flex-column();
               width: 48.8%;
               &:nth-child(2) {
                    display: flex;
               }
          }

     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               width: 1620px;
          }
          &__slider {
               @include flex-row();
               height: 310px;
               width: 1200px;
          }
     }
}

.map {
     @include flex-column();
     width: 100%;
     padding-bottom: 60px;
     background-color: $bg-gray;
     .watch-btn {
          margin-top: 40px;
     }
     &__wrapper {
          .map-img {
               transform: scaleY(1.2);
          }
          img {
               width: 100%;
          }
          z-index: 1;
          margin-top: 42px;
          position: relative;
          width: 93.75%;
          .panda-marker {
               position: absolute;
               bottom: 62%;
               left: 77.5%;
          }
          .alligator-marker {
               position: absolute;
               bottom: 60%;
               left: 23.2%;
          }
          .eagle-marker {
               position: absolute;
               bottom: 65%;
               left: 13.5%;
          }
          .gorilla-marker {
               position: absolute;
               bottom: 43%;
               left: 50.5%;
          }
          .marker {
               z-index: 2;
               width: 34px;
               height: 47px;
               .marker-img {
                    filter: drop-shadow(6px 3px 10px rgba(50,50,50,.2));
               }
               &:hover {
                    cursor: pointer;
                    filter: hue-rotate(-40deg);     
                    
               }
               &:hover + .marker-info {
                    transform: translateY(0);
                    visibility: visible; 
                    opacity: 100%;                      
               }
               & > img {
                    margin-left: -50%;
                    height: 100%;
                    width: 100%;
               }
          }
          .marker-icon {
               z-index: 3;
               overflow: hidden;
               position: absolute;
               top: 14%;
               left: -31%;
               height: 44%;
               width: 61.333%;
               border-radius: 50%;
          }
          .marker-info {
               z-index: 4;
               transform: translateY(50px);
               opacity: 0;
               visibility: hidden;
               position: fixed;
               bottom: 10%;
               left: 13%;
               padding: 15px;
               @include flex-row(center, center);
               width: 74%;
               background-color: #fefefe;
               box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.10);
               border-radius: 8px;
               &__icon {
                    overflow: hidden;
                    margin-right: 10px;
                    align-self: flex-start;
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
               }
               &__text {
                    width: 65%;
               }
               &__title {
                    font-weight: 900;
                    font-size: 14px;
                    line-height: 16px;
                    color: #333333;
               }
               &__content {
                    margin-top: 5px;
                    font-weight: normal;
                    font-size: 11px;
                    line-height: 13px;
               }
               &:hover {
                    transform: translateY(0);
                    opacity: 100;
                    visibility: visible;
               }
          }
     }
     @media screen and (min-width: $tablet) {
          padding-bottom: 80px;
          &__wrapper {
               margin-top: 70px;
          }
          .marker {
               width: 66px;
               height: 92px;
          }
          .marker-info {
               transform: translateY(50px);
               opacity: 0;
               visibility: hidden;
               position: fixed;
               bottom: 10%;
               left: 50%;
               margin-left: -218px;
               padding: 40px;
               @include flex-row(center, center);
               width: 435px;
               height: 150px;
               &__icon {
                    overflow: hidden;
                    margin-right: 20px;
                    height: 65px;
                    width: 65px;
                    border-radius: 50%;
               }
               &__text {
                    width: 250px;
               }
               &__title {
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 21px;
                    color: #333333;
               }
               &__content {
                    margin-top: 5px;
                    font-weight: normal;
                    font-size: 14px;
                    line-height: 16px;
               }
               &:hover {
                    transform: translateY(0);
                    opacity: 100;
                    visibility: visible;
               }
          }
          .watch-btn {
               margin-top: 55px;
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__wrapper {
               width: 900px;
          }
     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               width: 1200px;
          }
     }
}

.footer {
     @include flex-column();
     width: 100%;
     background-color: $text-black;
     &__wrapper {
          margin-top: 50px;
          position: relative;
          width: 93.75%;
          @include flex-column(flex-start, flex-start);
     }
     .logo {
          margin-top: -8px;
          margin-bottom: 38px;
     }
     .logo > * {
          color: #fefefe;
     }
     &__nav {
          margin-top: 5px;
          @include flex-column(flex-start, flex-start);
          width: 100%;
     }
     .nav-list {
          @include flex-column(flex-start, flex-start);
          width: 100%;
          &__link {
               line-height: 19px;
               margin: 2.5px 73px 2.5px 0;
               color: #f2f2f2
          }
     }
     .watch-btn {
          margin: 46px auto 0;
          width: 279px;
          &__name {
               font-weight: 500;
          }
     }
     .contacts-us-and-centre {
          margin-top: 23px;
          padding-bottom: 80px;
          @include flex-column(flex-start, flex-start);
          width: 100%;
          border-bottom: 1px solid #bdbdbd;
     }
     .centre {
          margin-top: 54px;
          width: 100%;
          &__title {
               margin-bottom: 35px;
               font-weight: 900;
               font-size: 14px;
               line-height: 16px;
               text-transform: uppercase;
               color: #fefefe;
          }
          &__address {
               margin-bottom: 15px;
               font-weight: normal;
               font-size: 14px;
               line-height: 20px;
               color: #fefefe;
               & a {
                    text-decoration: inherit;
                    color: inherit;
               }
          }
          .social-net {
               position: unset;
               @include flex-row();
               height: 20px;
               width: 125px;
          }
     }
     .contact-us {
          width: 100%;
          &__title {
               font-weight: 900;
               font-size: 20px;
               line-height: 23px;
               color: #fefefe;
          }
          &__form {
               margin-top: 33px;
               @include flex-column(flex-start, flex-start);
               width: 100%;
          }
          &__input {
               display: flex;
               margin-bottom: 20px;
               width: 100%;
               height: 26px;
               font-size: 14px;
               line-height: 16px;
               color: #E0E0E0;
               border: none;
               border-bottom: 1px solid #BDBDBD;
               background-color: transparent;
          }
          &__message {
               width: 100%;
               height: 125px;
               border: 1px solid #BDBDBD;
               border-radius: 3px;
          }
          &__legend {
               margin-left: 5px;
               padding: 3px;
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #BDBDBD;
          }
          &__textarea {
               resize: none;
               margin: 0 5px;
               width: 100%;
               height: 100%;
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #BDBDBD;
               border: none;
               background-color: transparent;
          }
          .check {
               margin-top: 25px;
               @include flex-row(flex-starn, center);
               font-weight: normal;
               font-size: 12px;
               line-height: 14px;
               color: #bdbdbd;
               &__input {
                    -webkit-appearance: none;
               }
               &__box {
                    margin-right: 6px;
                    width: 13px;
                    height: 13px;
                    color: #bdbdbd;
                    background-color: transparent;
                    border: 1px solid #bdbdbd;
                    &:hover {
                         background-color: rgba(255,255,255,.3);
                    }
               }
          }
          .check__input:checked + .check__box {
               background: url(../../assets/icons/check.svg) no-repeat center;
               background-size: cover;
          } 
          &__send {
               margin-top: 20px;
               @include flex-row(flex-start, center);
               align-self: flex-end;
               font-weight: 500;
               font-size: 14px;
               line-height: 16px;
               text-transform: uppercase;
               color: #fefefe;
               border: none;
               border-radius: 5px;
               background-color: transparent;
               &:hover {
                    background-color: #4f4f4f;
               }
               &:active {
                    background-color: #828282;
               }
          }
          .send-arrow {
               margin-left: 24px;
               width: 48px;
          }
     }
     &__copyright {
          @include flex-row();
          width: 100%;
          margin-top: 28px;
          margin-bottom: 28px;
          .copyright-text {
               font-weight: normal;
               font-size: 12px;
               line-height: 18px;
               color: #bdbdbd;
          }
     }
     @media screen and (min-width: $tablet) {
          &__wrapper {
               margin-top: 100px;
          }
          .logo {
               margin-bottom: 25px;
          }
          .watch-btn {
               margin-top: 0;
               position: absolute;
               top: 0;
               right: 0;
          }
          .centre {
               margin-top: 75px;
          }
          .contact-us {
               &__form {
                    width: 385px;
               }
               .check {
                    margin-top: 15px;
               }
          }
          &__copyright {
               @include flex-row();
               width: 100%;
               margin-top: 28px;
               margin-bottom: 40px;
               .copyright-text {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                    color: #bdbdbd;
               }
          }
     }
     @media screen and (min-width: $desktop-min) {
          &__wrapper {
               width: 75%;
          }
          .logo {
               margin-bottom: 0;
          }
          .watch-btn {
               margin-top: 40px;
               position: unset;
               top: unset;
               right: unset;
          }
          &__nav {
               margin-top: 5px;
               @include flex-row();
               width: 100%;
          }
          .nav-list {
               @include flex-row(flex-start, center);
               width: 49%;
          }
          .contacts-us-and-centre {
               margin-top: 60px;
               padding-bottom: 50px;
               @include flex-row(space-between, flex-start);
               width: 100%;
               border-bottom: 1px solid #bdbdbd;
          }
          .contact-us {
               width: 49%;
          }
          .centre {
               margin-top: 0;
               width: 49%;
          }
     }
     @media screen and (min-width: $desktop) {
          &__wrapper {
               margin-top: 100px;
               position: relative;
               width: 1620px;
          }
          .watch-btn {
               margin: 0;
               position: absolute;
               top: 0;
               right: 0;
          }
          &__nav {
               margin-top: 5px;
               @include flex-row();
               width: 100%;
          }
          .contacts-us-and-centre {
               margin-top: 60px;
               padding-bottom: 50px;
               @include flex-row(space-between, flex-start);
               width: 100%;
               border-bottom: 1px solid #bdbdbd;
          }
     }
}