.card-container {
  margin: 9px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;

  perspective: 450px;

  &:hover > .card {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }

  &.flipped > .card {
    transform: rotateY(-180deg) translateX(-100%);
  }

  &:hover > .flipped {
    transform: rotateY(-180deg) translateX(-100%);
  }
}

.card {
  position: relative;
  width: 110px;
  height: 110px;
  border-radius: 7px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);

  transform-origin: left;
  transition-duration: 0.4s;
  transform-style: preserve-3d;

  &.flipped {
    transform: rotateY(-180deg) translateX(-100%);
    pointer-events: none;
  }

  &__front,
  &__back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
    background-position: center !important;
    background-size: cover !important;
  }

  &__front {
    background-color: rgb(255, 127, 127);
  }

  &__back {
    transform: rotateY(180deg);
    background: url(../../assets/card-cover.jpg) no-repeat;
  }
}

.not-available {
  pointer-events: none;
}

.true-card,
.false-card {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 7px;
  transition-duration: 0.2s;
}

.true-card {
  background: rgba(58, 255, 58, 0.25) url(../../assets/icons/true-card-icon.svg) no-repeat center;
  background-position: 92% 8%;
}

.false-card {
  background: rgba(255, 58, 58, 0.25) url(../../assets/icons/false-card-icon.svg) no-repeat center;
  background-position: 92% 8%;
}

.appearance-on {
  opacity: 100;
}
