@import url(../../styles.scss);

.sidebar {
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75%;
  height: 100%;
  background: var(--bg-sidebar);
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
  transform: translateX(-102%);
  box-shadow: 4px 0 20px rgba(0, 0, 0, 0.35);
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    li {
      list-style-type: none;
      width: 100%;
    }
  }
  &__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.35);
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    &:hover,
    &:focus {
      filter: brightness(1.2);
      background-color: var(--bg-sidebar);
    }
    &:active {
      filter: brightness(1.2);
      filter: brightness(.9);
    }
  }
  .active-route {
    border-left: 5px solid white;
    border-left: 5px solid var(--bg-sidebar);
    pointer-events: none;
  }
  .main-link {
    margin-bottom: 20px;
  }
  .hide {
    transform: translateX(-102%);
  }
  @media screen and (min-width: 640px) {
    width: 50%;
    &__link {
      font-size: 24px;
      height: 50;
    }
  }
  @media screen and (min-width: 1200px) {
    width: calc(25% / 2 + 75px);
    &__link {
      font-size: 18px;
      height: 40px;
    }
  }
  @media screen and (min-width: 1920px) {
    width: calc((100% - 1200px) / 2 + 75px);
    &__link {
      font-size: 30px;
      height: 60px;
    }
  }

}
