@import url(./reset.css);

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''), url('./assets/fonts/roboto-v20-latin-regular.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-regular.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(''), url('./assets/fonts/roboto-v20-latin-500.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-500.woff') format('woff');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(''), url('./assets/fonts/roboto-v20-latin-700.woff2') format('woff2'),
    url('./assets/fonts/roboto-v20-latin-700.woff') format('woff');
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background-color: rgb(56, 58, 70);
}

::-webkit-scrollbar {
  margin-right: -10px;
  width: 10px;
  background-color: #454c53;
}
::-webkit-scrollbar-thumb {
  background-color: #a0acb6a8;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a2abb3;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
