.nav-btn {
  & * {
    cursor: pointer;
  }
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100px;
  cursor: pointer;
  text-decoration: none;
  transition-duration: 0.2s;
  &:visited,
  &:focus {
    outline: none;
    border: none;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  &:hover > &__icon {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  }
  &:hover > &__title {
    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.25);
  }
  &__title {
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-transform: capitalize;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
  }
  &__icon {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition-duration: 0.3s;
  }
}
.nav-btn_disabled {
  pointer-events: none;
  cursor: default;
  &:hover {
    background-color: unset;
  }
  &:hover > &__icon {
    box-shadow: unset;
  }
  &:hover > &__title {
    text-shadow: unset;
  }
  .nav-btn__title {
    color: rgb(214, 214, 214);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  }
  .nav-btn__icon {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    filter: brightness(80%);
  }
}
.nav-btn_highlight {
  background-color: rgba(255, 255, 255, 0.2);
  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
