@import url(./reset.css);

$desktop: 1920px;
$desktop-min: 1200px;
$tablet: 640px;
$mobile: 320px;

/* kaushan-script-regular - latin */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/kaushan-script-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/kaushan-script-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('./assets/fonts/montserrat-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/montserrat-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-500 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local(''),
       url('./assets/fonts/montserrat-v15-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/montserrat-v15-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('./assets/fonts/montserrat-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('./assets/fonts/montserrat-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@mixin flex-column ($justify-content: flex-start, $align-items: center) {
  display: flex;
  flex-direction: column;
  justify-content: $justify-content;
  align-items: $align-items;
}

@mixin flex-row ($justify-content: space-between, $align-items: center) {
  display: flex;
  flex-direction: row;
  justify-content: $justify-content;
  align-items: $align-items;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.train-mode {
  --bg-color: #ffff99;
  --bg-color-down: #3af18d;
  #bg-image {
    left: -5%;
  }
}

.play-mode {
  --bg-color: #ffdad7;
  --bg-color-down: #42e2ff;
  #bg-image {
    left: -105%;
    svg {
      filter: hue-rotate(50deg);
    }
  }
}

#bg-image {
  overflow: hidden;
  position: absolute;
  bottom: 0;
  width: 210%;
  transition-duration: 1s;
  svg {
    transition-duration: 1s;
    margin-bottom: -5px;
  }
}

body {
  position: relative;
  padding-left: 30px;
  padding-right: 30px;
  overflow-x: hidden;
  height: 100vh;
  width: 100%;
  font-family: 'Montserrat', Verdana, sans-serif;
  font-weight: 500;
  background-color: var(--bg-color);
  transition-duration: 1s;
}

.non-interactive {
  pointer-events: none;
}

.hidden {
  display: none;
}

h2,
p,
div {
  cursor: default;
}

input,
select {
  cursor: pointer;
}

.bold {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #00000000;
}
::-webkit-scrollbar-thumb {
  background-color: #00000000;
  border-right: 2px solid #707070;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
  border-color: #a8a8a8;
}
::-webkit-scrollbar-button:vertical:start:decrement {
  display: none;
}
::-webkit-scrollbar-button:vertical:end:increment {
  display: none;
}
