.winners-list {
  margin-top: 20px;
  margin-left: 20px;
  display: table;
  width: 800px;
  border-collapse: collapse;
  border-color: rgb(80, 80, 80);
}

.t-body {
  display: table-row-group;
}

.tr-header {
  display: table-row;
  background-color: rgb(102, 209, 91);
}

.tr-body {
  border-bottom: .5px solid rgb(68, 100, 69);
  &:hover td {
    color: rgb(125, 224, 130);
  }
}

.th {
  display: table-cell;
  height: 40px;
  vertical-align: middle;
  font-size: 20px;
  font-weight: normal;
  color: black;
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.td {
  padding: 3px;
  display: table-cell;
  height: 35px;
  vertical-align: middle;
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  color: rgb(230, 230, 230);
  text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
}

.td-car {
  svg {
    margin-top: -60px;
  }
}

.td-position {
  width: 30px;
  font-weight: 300;
  text-align: left;
}
