.garage-control {
  margin-top: 40px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 120px;
  width: 420px;
}

.create-panel,
.update-panel,
.race-reset-generate {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  height: 30px;
  width: 100%;
}

.text-input {
  padding-left: 10px;
  padding-right: 10px;
  height: 30px;
  width: 59%;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(230,230,230,.8);
  border-radius: 5px;
  &:hover {
    background-color: rgba(230,230,230,.85);
  }
  &:focus {
    background-color: rgb(230, 230, 230);
  }
}

.color-input {
  height: 30px;
  width: 15%;
  border-radius: 5px;
}

