@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-900.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}

body {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: default;
  background-color: #fbfbfb;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.h3 {
  margin-top: 60px;
  margin-bottom: 0;
  font-weight: 900;
  font-size: 48px;
  line-height: 56px;
  color: #333333;
}

.weight-500 {
  font-weight: 500;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1620px;
}

.logo {
  position: relative;
  top: -.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__zoo {
  font-weight: 900;
  font-size: 36px;
  line-height: 32px;
  color: #333333;
}

.logo__online {
  font-weight: 900;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: #333333;
}

.nav-list {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 572px;
  list-style: none;
}

.nav-list__link {
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #333333;
  text-decoration: none;
}

.nav-list__link:active {
  color: #999999;
}

.nav-list__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.nav-list .current-page {
  cursor: unset;
  font-weight: 900;
  text-decoration: underline;
}

.nav-list .current-page:active {
  color: inherit;
}

.nav-list .current-page:hover {
  -webkit-transform: none;
          transform: none;
}

.nav-list .first-link:hover {
  -webkit-transform: none;
          transform: none;
}

@media screen and (max-width: 1200px) {
  .nav-list {
    display: none;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  width: 100%;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}

.header__nav-btn {
  display: none;
}

@media screen and (max-width: 1200px) {
  .header__nav-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    outline: none;
    border: none;
    background: none;
  }
  .header__nav-btn:hover line {
    stroke: #4bd8B5;
  }
}

.header .theme-switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 190px;
}

.header .theme-switcher input {
  display: none;
}

.header .theme-switcher:hover {
  background-color: #d9d9d9;
}

@media screen and (max-width: 1200px) {
  .header .theme-switcher {
    position: absolute;
    right: 80px;
  }
}

.header .theme-switcher_active {
  background-color: #4f4f4f;
}

.header .theme-switcher__slider {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.header .theme-switcher__slider_active {
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
  background-color: #1B1B1B;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 600px;
  width: 210px;
}

.sidebar__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__slide:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sidebar .slide-image {
  overflow: hidden;
  width: 108px;
  height: 108px;
  border-radius: 50%;
}

.sidebar .slide-image img {
  width: 100%;
  height: 100%;
}

.sidebar .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 108px;
  height: 108px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background-image: linear-gradient(to right, #07eee0, #df496d);
}

.sidebar .slide-active:hover {
  -webkit-transform: none;
          transform: none;
}

.sidebar .slide-active a:hover {
  cursor: default;
}

.sidebar .slide-active .gradient {
  width: 157px;
  height: 157px;
}

.sidebar .slide-active .slide-image {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
  border: 5px solid white;
}

.sidebar .sidebar__btn {
  margin: 10px 0;
  height: 20px;
  width: 20px;
  border-top: 5px solid #828282;
  border-left: 5px solid #828282;
  border-radius: 2px;
}

.sidebar .btn_up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidebar .btn_up:hover {
  -webkit-transform: scale(1.4) rotate(45deg);
          transform: scale(1.4) rotate(45deg);
}

.sidebar .btn_up:active {
  border-color: #4bd8B5;
}

.sidebar .btn_down {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.sidebar .btn_down:hover {
  -webkit-transform: scale(1.4) rotate(225deg);
          transform: scale(1.4) rotate(225deg);
}

.sidebar .btn_down:active {
  border-color: #4bd8B5;
}

.the-beijing-zoo {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__content {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__video {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.the-beijing-zoo .plug {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.the-beijing-zoo iframe {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.the-beijing-zoo .main-video {
  position: relative;
  width: 790px;
  height: 442px;
}

.the-beijing-zoo .playlist {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.the-beijing-zoo .next-video {
  position: relative;
  width: 246px;
  height: 141px;
}

.the-beijing-zoo .scroll {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 11px;
}

.the-beijing-zoo .scroll .dot {
  height: 8px;
  width: 8px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.the-beijing-zoo .scroll .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.the-beijing-zoo .scroll .dot-active {
  height: 11px;
  width: 11px;
  background-color: #4bd8B5;
}

.the-beijing-zoo__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.the-beijing-zoo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 380px;
}

.the-beijing-zoo__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #333333;
}

.the-beijing-zoo__text {
  margin-top: 6px;
  margin-bottom: 13px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4f4f4f;
}

.the-beijing-zoo .watch-btn {
  width: 195px;
  height: 55px;
}

.slide-content {
  visibility: hidden;
  opacity: 0;
  z-index: 105;
  position: absolute;
  padding: 0 10% 15% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.9)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.9));
}

.slide-content__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.slide-content__buttons {
  margin-top: 14px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-net {
  position: absolute;
  left: 0;
  top: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
  width: 20;
}

.social-net__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-net__link:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.watch-btn {
  padding: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 245px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.watch-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.watch-btn:active {
  background-color: #26b08e;
  outline: none;
}

.watch-btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-btn__content svg {
  margin-right: 5px;
}

.watch-btn__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #333333;
}

.footer__wrapper {
  margin-top: 100px;
  position: relative;
  width: 1620px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .logo > * {
  color: #fefefe;
}

.footer__nav {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49%;
}

.footer .nav-list__link {
  margin-right: 73px;
  color: #f2f2f2;
}

.footer .watch-btn {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 279px;
}

.footer .watch-btn__name {
  font-weight: 500;
}

.footer .contacts-us-and-centre {
  margin-top: 60px;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}

.footer .centre {
  width: 49%;
}

.footer .centre__title {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
}

.footer .centre__address {
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
}

.footer .centre__address a {
  text-decoration: inherit;
  color: inherit;
}

.footer .centre .social-net {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 125px;
}

.footer .contact-us__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}

.footer .contact-us__form {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 385px;
}

.footer .contact-us__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 26px;
  color: #E0E0E0;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  background-color: transparent;
}

.footer .contact-us__message {
  width: 100%;
  height: 125px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

.footer .contact-us__legend {
  margin-left: 5px;
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer .contact-us__textarea {
  resize: none;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  border: none;
  background-color: transparent;
}

.footer .contact-us .check {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-starn;
      -ms-flex-pack: flex-starn;
          justify-content: flex-starn;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.footer .contact-us .check__input {
  -webkit-appearance: none;
}

.footer .contact-us .check__box {
  margin-right: 6px;
  width: 13px;
  height: 13px;
  color: #bdbdbd;
  background-color: transparent;
  border: 1px solid #bdbdbd;
}

.footer .contact-us .check__box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer .contact-us .check__input:checked + .check__box {
  background: url(../../assets/icons/check.svg) no-repeat center;
  background-size: cover;
}

.footer .contact-us__send {
  padding: 10px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.footer .contact-us__send:hover {
  background-color: #4f4f4f;
}

.footer .contact-us__send:active {
  background-color: #828282;
}

.footer .contact-us .send-arrow {
  margin: 0 10px 0 24px;
  width: 48px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 72px;
}

.footer__copyright .copyright-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
}
/*# sourceMappingURL=style.css.map */