@charset "UTF-8";
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-regular.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-regular.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-500.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-500.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-700.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-700.woff") format("woff");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local(""), url("../../assets/fonts/roboto-v20-latin-900.woff2") format("woff2"), url("../../assets/fonts/roboto-v20-latin-900.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-transition-duration: inherit;
          transition-duration: inherit;
}

.light-mode {
  --text-white: #fefefe;
  --bg-main: #fbfbfb;
  --bg-header: #fff;
  --bg-white: #f2f2f2;
  --text-black: #333;
  --text-gray: #4f4f4f;
  --bg-menu: #fff;
  --bg-menu-link-hover: rgb(243, 205, 235);
}

.dark-mode {
  --text-white: #3c3c3c;
  --bg-main: #4f4f4f;
  --bg-header: #333;
  --bg-white: #4f4f4f;
  --text-black: #fefefe;
  --text-gray: #f2f2f2;
  --bg-menu: #414141;
  --bg-menu-link-hover: #2b2b2b;
}

.dark-mode .map-img {
  -webkit-filter: invert(100);
          filter: invert(100);
}

body {
  overflow: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Roboto', sans-serif;
  cursor: default;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.h3 {
  margin-top: 35px;
  margin-bottom: 0;
  margin-left: 5px;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: var(--text-black);
}

@media screen and (min-width: 640px) {
  .h3 {
    margin-top: 60px;
    font-size: 48px;
    line-height: 56px;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .h3 {
    margin-left: 3px;
  }
}

.weight-500 {
  font-weight: 500;
}

.wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 93.75%;
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 75%;
  }
}

@media screen and (min-width: 1920px) {
  .wrapper {
    width: 1620px;
    margin: 0 auto;
  }
}

.logo {
  position: relative;
  top: -.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.logo__zoo {
  font-weight: 900;
  font-size: 36px;
  line-height: 32px;
  color: var(--text-black);
}

.logo__online {
  font-weight: 900;
  font-size: 18px;
  line-height: 15px;
  letter-spacing: 0.08em;
  color: var(--text-black);
}

.nav-list {
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  visibility: hidden;
  opacity: 0;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  position: absolute;
  right: 0;
  top: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  list-style: none;
  background-color: var(--bg-menu);
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}

.nav-list li {
  width: 100%;
}

.nav-list li:hover {
  background-color: var(--bg-menu-link-hover);
}

.nav-list li:nth-child(2):hover {
  background-color: unset;
}

.nav-list__link {
  padding: 0 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: var(--text-black);
  text-decoration: none;
  -webkit-transition-duration: .2s;
          transition-duration: .2s;
}

.nav-list__link:active {
  color: #b5b5b5;
}

.nav-list__link:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.nav-list .current-page {
  cursor: unset;
  font-weight: 900;
  text-decoration: underline;
}

.nav-list .current-page:active {
  color: inherit;
}

.nav-list .current-page:hover {
  -webkit-transform: none;
          transform: none;
  background-color: none;
}

@media screen and (min-width: 640px) {
  .nav-list {
    width: 30%;
    top: 95px;
  }
  .nav-list__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav-list__link:hover {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}

@media screen and (min-width: 1200px) {
  .nav-list {
    visibility: unset;
    opacity: unset;
    -webkit-transform: unset;
            transform: unset;
    position: unset;
    top: unset;
    left: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: unset;
    width: 572px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
  .nav-list__link {
    padding: 0;
    height: unset;
  }
  .nav-list__link:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .nav-list li {
    width: unset;
  }
  .nav-list li:hover {
    background-color: unset;
  }
}

.nav-list_active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 100%;
  visibility: visible;
}

.header {
  z-index: 200;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 94px;
  width: 100%;
  background-color: var(--bg-header);
  -webkit-box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
          box-shadow: 0px 4px 8px rgba(44, 101, 77, 0.1);
}

.header__nav-btn {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: transparent;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  outline: none;
  border: none;
  background: none;
}

.header__nav-btn line {
  stroke: var(--text-black);
}

.header__nav-btn:hover line {
  stroke: #4bd8B5;
}

.header .nav-btn_active {
  margin-top: 7px;
}

.header .nav-btn_active line:nth-child(1) {
  -webkit-transform: translateX(8px) rotate(45deg);
          transform: translateX(8px) rotate(45deg);
}

.header .nav-btn_active line:nth-child(2) {
  -webkit-transform: translateY(22px) rotate(-45deg);
          transform: translateY(22px) rotate(-45deg);
}

.header .nav-btn_active line:nth-child(3) {
  display: none;
}

.header .theme-switcher {
  position: absolute;
  right: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 54px;
  height: 30px;
  background: var(--bg-white);
  border-radius: 190px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.header .theme-switcher input {
  -webkit-appearance: none;
  position: fixed;
}

.header .theme-switcher:hover {
  background-color: #d9d9d9;
}

@media screen and (min-width: 640px) {
  .header .theme-switcher {
    right: 80px;
  }
}

@media screen and (min-width: 1200px) {
  .header .theme-switcher {
    position: unset;
  }
}

.header .theme-switcher_active {
  background-color: #4f4f4f;
}

.header .theme-switcher__slider {
  margin-left: 6px;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 50%;
  -webkit-box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
          box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
}

.header .slider_checked {
  background-color: #1b1b1b;
  -webkit-transform: translateX(22px);
          transform: translateX(22px);
}

.header .switcher_checked:hover {
  background-color: dimgray;
}

@media screen and (min-width: 1200px) {
  .header {
    position: static;
  }
  .header__nav-btn {
    display: none;
  }
}

.main {
  margin-top: 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  background-color: var(--bg-main);
}

@media screen and (min-width: 1200px) {
  .main {
    margin-top: 0;
  }
}

.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 124px;
  margin-top: 33px;
  margin-bottom: 33px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 265px;
  width: 75px;
}

.sidebar__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.sidebar__slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__slide:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sidebar .slide-image {
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sidebar .slide-image img {
  width: 100%;
  height: 100%;
}

.sidebar .gradient {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, right top, from(#07eee0), to(#df496d));
  background-image: linear-gradient(to right, #07eee0, #df496d);
}

.sidebar .slide-active:hover {
  -webkit-transform: none;
          transform: none;
}

.sidebar .slide-active a:hover {
  cursor: default;
}

.sidebar .slide-active .gradient {
  width: 65px;
  height: 65px;
}

.sidebar .slide-active .slide-image {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border: 2px solid var(--text-white);
}

.sidebar .sidebar__btn {
  margin: 5px 0;
  height: 20px;
  width: 20px;
  border-top: 5px solid #828282;
  border-left: 5px solid #828282;
  border-radius: 2px;
}

.sidebar .btn_up {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.sidebar .btn_up:hover {
  -webkit-transform: scale(1.4) rotate(45deg);
          transform: scale(1.4) rotate(45deg);
}

.sidebar .btn_up:active {
  border-color: #4bd8B5;
}

.sidebar .btn_down {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.sidebar .btn_down:hover {
  -webkit-transform: scale(1.4) rotate(225deg);
          transform: scale(1.4) rotate(225deg);
}

.sidebar .btn_down:active {
  border-color: #4bd8B5;
}

@media screen and (min-width: 640px) {
  .sidebar {
    margin-top: 60px;
    margin-bottom: 60px;
    margin-right: 20px;
    height: 415px;
    width: 103px;
  }
  .sidebar__slider {
    width: 103px;
  }
  .sidebar .slide-image {
    width: 70px;
    height: 70px;
  }
  .sidebar .gradient {
    width: 70px;
    height: 70px;
  }
  .sidebar .slide-active .gradient {
    width: 90px;
    height: 90px;
  }
  .sidebar .slide-active .slide-image {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    border: 2px solid var(--text-white);
  }
  .sidebar .sidebar__btn {
    margin: 10px 0;
  }
}

@media screen and (min-width: 1200px) {
  .sidebar {
    top: 30px;
    margin-right: 50px;
    height: 520px;
    width: 151px;
  }
  .sidebar__slider {
    width: 151px;
  }
  .sidebar .slide-image {
    width: 96px;
    height: 96px;
  }
  .sidebar .gradient {
    width: 96px;
    height: 96px;
  }
  .sidebar .slide-active .gradient {
    width: 120px;
    height: 120px;
  }
  .sidebar .slide-active .slide-image {
    -webkit-transform: scale(1.17);
            transform: scale(1.17);
    border: 3px solid var(--text-white);
  }
  .sidebar .sidebar__btn {
    margin: 10px 0;
  }
}

@media screen and (min-width: 1920px) {
  .sidebar {
    margin-right: 150px;
    height: 600px;
    width: 210px;
  }
  .sidebar__slider {
    width: 210px;
  }
  .sidebar .slide-image {
    width: 108px;
    height: 108px;
  }
  .sidebar .gradient {
    width: 108px;
    height: 108px;
  }
  .sidebar .slide-active .gradient {
    width: 157px;
    height: 157px;
  }
  .sidebar .slide-active .slide-image {
    -webkit-transform: scale(1.4);
            transform: scale(1.4);
    border: 5px solid var(--text-white);
  }
}

.the-beijing-zoo {
  margin-bottom: 60px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__content {
  margin-top: 20px;
  margin-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__video {
  margin-right: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.the-beijing-zoo .triangle {
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 18px);
  width: 50px;
  height: 50px;
  border: 29px solid transparent;
  border-left: 50px solid rgba(255, 255, 255, 0.7);
  pointer-events: none;
}

.the-beijing-zoo .plug {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: transparent;
}

.the-beijing-zoo .plug:hover {
  background: rgba(73, 214, 223, 0.5);
}

.the-beijing-zoo .plug:hover .triangle {
  border-left: 50px solid white;
}

.the-beijing-zoo .main-video {
  position: relative;
  padding-bottom: 56.25%;
  /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
  width: 100%;
  height: 0;
  overflow: hidden;
  border-radius: 3px;
}

.the-beijing-zoo iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-width: 0;
  outline-width: 0;
}

.the-beijing-zoo .playlist__wrapper {
  overflow: hidden;
  position: relative;
  margin-top: 10px;
  width: 100%;
}

.the-beijing-zoo .playlist {
  position: relative;
  display: none;
  -webkit-animation: .5s ease-in-out;
          animation: .5s ease-in-out;
}

.the-beijing-zoo .active,
.the-beijing-zoo .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.the-beijing-zoo .next {
  position: absolute;
  top: 0;
  width: 100%;
}

.the-beijing-zoo .to-right {
  -webkit-animation-name: right;
          animation-name: right;
}

.the-beijing-zoo .to-left {
  -webkit-animation-name: left;
          animation-name: left;
}

.the-beijing-zoo .from-right {
  -webkit-animation-name: right;
          animation-name: right;
  animation-direction: reverse;
}

.the-beijing-zoo .from-left {
  -webkit-animation-name: left;
          animation-name: left;
  animation-direction: reverse;
}

@-webkit-keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@keyframes right {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}

@-webkit-keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

.the-beijing-zoo .next-video {
  position: relative;
  padding-bottom: 27%;
  width: 48%;
  height: 0;
  overflow: hidden;
  border-radius: 3px;
}

.the-beijing-zoo .next-video img {
  height: 100%;
}

.the-beijing-zoo .next-video:nth-child(3) {
  display: none;
}

.the-beijing-zoo .scroll {
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 37px;
  height: 11px;
}

.the-beijing-zoo .scroll .dot {
  height: 8px;
  width: 8px;
  background-color: #c4c4c4;
  border-radius: 50%;
}

.the-beijing-zoo .scroll .dot:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.the-beijing-zoo .scroll .dot-active {
  height: 11px;
  width: 11px;
  background-color: #4bd8B5;
}

.the-beijing-zoo__description {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.the-beijing-zoo__title {
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  color: var(--text-black);
}

.the-beijing-zoo__text {
  margin-top: 7px;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: var(--text-gray);
}

.the-beijing-zoo .watch-btn {
  margin-top: 0;
  width: 185px;
  height: 55px;
}

@media screen and (min-width: 640px) {
  .the-beijing-zoo {
    margin-bottom: 78px;
  }
  .the-beijing-zoo__content {
    margin-top: 35px;
  }
  .the-beijing-zoo .playlist__wrapper {
    margin-top: 15px;
  }
  .the-beijing-zoo .next-video {
    position: relative;
    padding-bottom: 18%;
    width: 31%;
    height: 0;
    overflow: hidden;
    border-radius: 3px;
  }
  .the-beijing-zoo .next-video:nth-child(3) {
    display: block;
  }
  .the-beijing-zoo .scroll {
    margin-top: 30px;
  }
  .the-beijing-zoo__title {
    font-size: 20px;
    line-height: 23px;
  }
  .the-beijing-zoo__text {
    margin-top: 6px;
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 16px;
  }
  .the-beijing-zoo__description {
    margin-top: 50px;
  }
  .the-beijing-zoo .watch-btn {
    margin-top: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .the-beijing-zoo {
    margin-bottom: 100px;
  }
  .the-beijing-zoo__content {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .the-beijing-zoo__video {
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 122%;
  }
  .the-beijing-zoo .playlist__wrapper {
    margin-top: 27px;
  }
  .the-beijing-zoo__description {
    margin-top: 0;
  }
  .the-beijing-zoo__text {
    margin-top: 7px;
    margin-bottom: 15px;
  }
  .the-beijing-zoo__info {
    width: 260px;
  }
  .the-beijing-zoo .watch-btn {
    margin-top: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .the-beijing-zoo {
    margin-bottom: 95px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .the-beijing-zoo__content {
    margin-top: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .the-beijing-zoo__video {
    margin-right: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 790px;
  }
  .the-beijing-zoo .plug {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
  }
  .the-beijing-zoo iframe {
    z-index: 1;
    width: 100%;
    height: 100%;
  }
  .the-beijing-zoo .main-video {
    position: relative;
    width: 790px;
    height: 442px;
  }
  .the-beijing-zoo .playlist__wrapper {
    margin-top: 30px;
  }
  .the-beijing-zoo .next-video {
    position: relative;
    width: 246px;
    height: 141px;
  }
  .the-beijing-zoo .scroll {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 37px;
    height: 11px;
  }
  .the-beijing-zoo .scroll .dot {
    height: 8px;
    width: 8px;
    background-color: #c4c4c4;
    border-radius: 50%;
  }
  .the-beijing-zoo .scroll .dot:hover {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  .the-beijing-zoo .scroll .dot-active {
    height: 11px;
    width: 11px;
    background-color: #4bd8B5;
  }
  .the-beijing-zoo__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .the-beijing-zoo__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 380px;
  }
  .the-beijing-zoo__title {
    font-weight: 900;
    font-size: 20px;
    line-height: 23px;
  }
  .the-beijing-zoo__text {
    margin-top: 6px;
    margin-bottom: 13px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  .the-beijing-zoo .watch-btn {
    margin-top: 20px;
    width: 195px;
    height: 55px;
  }
}

.social-net {
  position: absolute;
  left: 0;
  top: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 107px;
  width: 20;
}

.social-net__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.social-net__link:active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.watch-btn {
  padding: 0;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  width: 245px;
  border: none;
  outline: none;
  border-radius: 3px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}

.watch-btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.watch-btn:active {
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  outline: none;
}

.watch-btn__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.watch-btn__content svg {
  margin-right: 5px;
}

.watch-btn__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #fff;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #333333;
}

.footer__wrapper {
  margin-top: 50px;
  position: relative;
  width: 93.75%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer .logo {
  margin-top: -8px;
  margin-bottom: 38px;
}

.footer .logo > * {
  color: #fefefe;
}

.footer__nav {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  list-style: none;
}

.footer__nav-list .nav-link {
  margin: 2.5px 73px 2.5px 0;
  display: block;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__nav-list .nav-link:active {
  color: #999999;
}

.footer__nav-list .nav-link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.footer .watch-btn {
  margin: 46px auto 0;
  width: 279px;
}

.footer .watch-btn__name {
  font-weight: 500;
}

.footer .contacts-us-and-centre {
  margin-top: 23px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  border-bottom: 1px solid #bdbdbd;
}

.footer .centre {
  margin-top: 54px;
  width: 100%;
}

.footer .centre__title {
  margin-bottom: 35px;
  font-weight: 900;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
}

.footer .centre__address {
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #fefefe;
}

.footer .centre__address a {
  text-decoration: inherit;
  color: inherit;
}

.footer .centre .social-net {
  position: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20px;
  width: 125px;
}

.footer .contact-us {
  width: 100%;
}

.footer .contact-us__title {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  color: #fefefe;
}

.footer .contact-us__form {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.footer .contact-us__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
  height: 26px;
  font-size: 14px;
  line-height: 16px;
  color: #E0E0E0;
  border: none;
  border-bottom: 1px solid #BDBDBD;
  background-color: transparent;
}

.footer .contact-us__message {
  width: 100%;
  height: 125px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
}

.footer .contact-us__legend {
  margin-left: 5px;
  padding: 3px;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
}

.footer .contact-us__textarea {
  resize: none;
  margin: 0 5px;
  width: 100%;
  height: 100%;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #BDBDBD;
  border: none;
  background-color: transparent;
}

.footer .contact-us .check {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: flex-starn;
      -ms-flex-pack: flex-starn;
          justify-content: flex-starn;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #bdbdbd;
}

.footer .contact-us .check__input {
  -webkit-appearance: none;
}

.footer .contact-us .check__box {
  margin-right: 6px;
  width: 13px;
  height: 13px;
  color: #bdbdbd;
  background-color: transparent;
  border: 1px solid #bdbdbd;
}

.footer .contact-us .check__box:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.footer .contact-us .check__input:checked + .check__box {
  background: url(../../assets/icons/check.svg) no-repeat center;
  background-size: cover;
}

.footer .contact-us__send {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: #fefefe;
  border: none;
  border-radius: 5px;
  background-color: transparent;
}

.footer .contact-us__send:hover {
  background-color: #4f4f4f;
}

.footer .contact-us__send:active {
  background-color: #828282;
}

.footer .contact-us .send-arrow {
  margin-left: 24px;
  width: 48px;
}

.footer__copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 28px;
  margin-bottom: 28px;
}

.footer__copyright .copyright-text {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  color: #bdbdbd;
}

@media screen and (min-width: 640px) {
  .footer__wrapper {
    margin-top: 96px;
  }
  .footer .logo {
    margin-bottom: 25px;
  }
  .footer .watch-btn {
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-us-and-centre {
    padding-bottom: 77px;
  }
  .footer .centre {
    margin-top: 75px;
  }
  .footer .contact-us__form {
    width: 385px;
  }
  .footer .contact-us .check {
    margin-top: 18px;
  }
  .footer__copyright {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__wrapper {
    margin-top: 100px;
    width: 75%;
  }
  .footer .logo {
    margin-bottom: 0;
  }
  .footer .watch-btn {
    margin-top: 40px;
    margin-left: 0;
    position: unset;
    top: unset;
    right: unset;
  }
  .footer__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 49%;
  }
  .footer .contacts-us-and-centre {
    margin-top: 60px;
    padding-bottom: 68px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .centre {
    margin-top: 0;
    width: 49%;
  }
  .footer .contact-us {
    width: 49%;
  }
  .footer .contact-us__form {
    margin-top: 43px;
    width: 385px;
  }
  .footer .contact-us .check {
    margin-top: 15px;
  }
  .footer__copyright {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1920px) {
  .footer__wrapper {
    margin-top: 100px;
    width: 1620px;
  }
  .footer .watch-btn {
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
  }
  .footer .contacts-us-and-centre {
    margin-top: 68px;
    padding-bottom: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer .contact-us {
    width: 49%;
  }
  .footer .contact-us__form {
    margin-top: 32px;
  }
  .footer .contact-us .check {
    margin-top: 25px;
  }
  .footer__copyright {
    margin-bottom: 70px;
  }
}

.cover {
  overflow-y: scroll;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.7);
}

.popup_opacity-up {
  -webkit-animation: opacity-up ease-in .3s;
          animation: opacity-up ease-in .3s;
}

@-webkit-keyframes opacity-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

@keyframes opacity-up {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

.popup_opacity-down {
  -webkit-animation: opacity-down ease-out .3s;
          animation: opacity-down ease-out .3s;
}

@-webkit-keyframes opacity-down {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

@keyframes opacity-down {
  from {
    opacity: 100;
  }
  to {
    opacity: 0;
  }
}

.cover_hidden {
  display: none;
}

.notScrollable {
  overflow: hidden;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 1243px;
  background-color: #f9f9f9;
}

.popup__picture {
  overflow: hidden;
  display: none;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup__form input {
  margin-top: 13px;
  width: 100%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #313131;
}

.popup__form select {
  margin-top: 13px;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(../../assets/icons/triangle-form.svg);
  background-repeat: no-repeat;
  background-position: right 0 top 7px;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #313131;
}

.popup__title {
  margin-top: 104px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: uppercase;
}

.popup__inputs-wrapper {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87.5%;
}

.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup__fieldset {
  position: relative;
  padding-left: 25px;
  padding-right: 25px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 65px;
  border: 1px solid #828282;
  border-radius: 5px;
}

.popup__fieldset-tel::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 80px;
  height: 32px;
  width: 1px;
  background-color: #828282;
}

.popup__fieldset-date::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 50%;
  height: 32px;
  width: 1px;
  background-color: #828282;
}

.popup__legend {
  margin-left: -15px;
  padding: 0 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #828282;
}

.popup__select-an-animal {
  width: 100%;
}

.popup__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.popup__about-you {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.popup__about-you-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #828282;
}

.popup__select-a-code {
  margin-right: 40px;
  width: 45px;
}

.popup__checkout {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.popup__select-a-month {
  margin-right: 20px;
  width: 50%;
}

.popup__select-a-year {
  margin-right: -10px;
  margin-left: 20px;
  width: 50%;
  border: 1px solid #828282;
}

.popup__you-agree {
  margin-top: 30px;
  width: 87.5%;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #828282;
  text-align: center;
}

.popup .watch-btn {
  margin-top: 30px;
}

@media screen and (min-width: 640px) {
  .popup__picture {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 164px;
    width: 16.4%;
    height: 1243px;
  }
  .popup__picture img {
    height: 100%;
  }
  .popup__title {
    margin-top: 104px;
    font-size: 24px;
    line-height: 28px;
  }
  .popup__inputs-wrapper {
    margin-top: 20px;
    width: 70.4%;
  }
  .popup__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .popup__about-you {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .popup__about-you-title {
    font-size: 18px;
    line-height: 21px;
  }
  .popup__select-a-code {
    width: 45px;
  }
  .popup__checkout {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .popup__select-a-month {
    margin-right: 20px;
    width: 50%;
  }
  .popup__select-a-year {
    margin-right: -10px;
    margin-left: 20px;
    width: 50%;
  }
  .popup__you-agree {
    margin-top: 35px;
    width: 70.4%;
  }
  .popup .watch-btn {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1200px) {
  .popup {
    position: absolute;
    top: 20px;
    left: calc(50vw - 600px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 1200px;
    height: 795px;
    background-color: #f9f9f9;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  .popup__picture {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    min-width: 164px;
    width: 16.4%;
    height: 795px;
  }
  .popup__picture img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .popup__title {
    margin-top: 104px;
  }
  .popup__inputs-wrapper {
    width: 72.3%;
    margin-top: 20px;
    width: 70.4%;
  }
  .popup__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .popup__header fieldset {
    width: 46.2%;
  }
  .popup__header select,
  .popup__header input {
    margin-top: -3px;
  }
  .popup__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 100%;
  }
  .popup__about-you {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 46.2%;
  }
  .popup__about-you-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: #828282;
  }
  .popup__select-a-code {
    width: 45px;
  }
  .popup__checkout {
    margin-top: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: 46.2%;
  }
  .popup__select-a-month {
    margin-right: 20px;
    width: 50%;
  }
  .popup__select-a-year {
    margin-right: -10px;
    margin-left: 20px;
    width: 50%;
  }
  .popup__you-agree {
    margin-top: 35px;
    width: 478px;
  }
  .popup .watch-btn {
    margin-top: 35px;
  }
}

@media screen and (min-width: 1200px) and (min-height: 840px) {
  .popup {
    top: calc(50vh - 398px);
  }
}
/*# sourceMappingURL=style.css.map */